.mastfoot {
    
    .find-us{
        a{
            color:inherit;
            text-decoration: none;
            @include line-height(32px);
            @include font-size(16px);
            @include media-breakpoint-up(lg){
	            @include fast-animation;
	        	&:hover {
		        	opacity:0.6;
	        	}
	        }
            @include media-breakpoint-down(md){
                background-color: rgba(255, 255, 255, 0.1);
                color: inherit;
                text-decoration: none;
                padding: 0.3rem 0.5rem;
            }
        }
        .list-inline-item:not(:last-child){
            margin-right:0.85rem;
            &:after{
                content:"|";
                margin-left:1.15rem;
            }
            @include media-breakpoint-down(md){
                margin-right:0.5rem;
                margin-bottom:1rem;
                &:after{
                    display:none;
                }   
            }
        }
    }
    
    .social-links{
        background-color:rgba(0,0,0,0.9);
        
        a{
            color:#fff;
            @include font-size(24px);
            text-decoration: none;
            &:hover {
	            i {
		            @include fast-animation;
		            &.bi-facebook {
			            color:mix( #FFF, #4267B2, 40%);
		            }
		            &.bi-twitter {
			            color:mix(#FFF, #1da1f2, 40%);
		            }
		            &.bi-linkedin {
			            color:mix(#FFF,#0072b1, 40%);
		            }
		            &.bi-youtube {
			            color:mix(#FFF, #FF0000, 40%);
		            }
	            }
            }
        }
        .list-inline-item:not(:last-child){
            margin-right:1rem;
        }
    }
    
    .primary{
        li:not(:last-child){
            margin-bottom:calculate-rem(14px);
        }
        a{
            color:inherit;
            text-decoration: none;
            @include font-size(16px);
            line-height: calculate-rem(19px);
        }
    }
    
    .secondary{
        @include font-size(14px);
        a{
            color:inherit;
            text-decoration: none;
        }
        .list-inline-item:not(:last-child){
            margin-right:1rem;
            &:after{
                content:"|";
                margin-left:1rem;
            }
            @include media-breakpoint-between(sm,lg){
                margin-right:0.5rem;
                &:after{
                    margin-left:0.5rem;
                }
            }
            @include media-breakpoint-down(sm){
                display:block;
                margin-right:0;
                &:after{
                    display:none;
                }
            }
        }
    }
    
}
