.masthead {
    
    .navbar{
        padding:0;
        @include fast-animation;
        .container-fluid{
	        padding:calculate-rem(15px);
	        @include media-breakpoint-up(lg) {
            	padding:calculate-rem(20px) calculate-rem(60px);
            }
            @include media-breakpoint-between(lg, xl) {
	            padding:calculate-rem(20px) calculate-rem(20px);
            }
            z-index:5;
            @include fast-animation;
        }
    }
    
    .navbar-dark{
        .container-fluid{
            &:after{
                content:"";
                width:100%;
                height:1px;
                background:rgba(255,255,255,0.5);
                position:absolute;
                bottom:0;
                left:0;
            }
        }
        .navbar-nav{
            .nav-link{
                color:#ffffff;
            }
        }
    }
    
    .nav-link{
        @include font-size(16px);
        font-weight:700;
        @include tracking(50);
		@include media-breakpoint-up(lg) {
	   		padding-left:0 !important;
	   	}
    }
    
    .nav-item {
	    &:last-child {
			margin-right:0;
	    }
		 @include media-breakpoint-up(xl) {
	    	margin-right:calculate-rem(15px);
	    	
	    }
	    @include media-breakpoint-between(lg, xl) {
			margin-right:calculate-rem(10px);
		}
        @include media-breakpoint-down(lg) {
            text-transform:none !important;
        }
    }
    
    .btn-underlined {
	     @include font-size(16px);
	     @include tracking(50);
    }
    
    .navbar-brand{
	    @include media-breakpoint-up(lg) {
	    	margin-right:calculate-rem(45px);
	    }
	    
	    
        img{
            height:70px;
            width:75px;
            @include fast-animation;
            @include media-breakpoint-between(lg, xl) {
	    		height:60px;
	    		width:65px;
        	}
            @include media-breakpoint-down(lg) {
	        	width: 54px;
	        	height:50px;
	        }
            
            .scrolled & {
	            @include media-breakpoint-up(lg) {
		            height:56px;
		            width:60px;
	            }
            }
        }
    }
    
    .btn,
    .btn-underlined{
        color:#fff;
    }
    
    .language-btn{
        font-size: calculate-rem(16px);
        font-weight: 700;
        height:45px;
		width:45px;
		padding:calculate-rem(10px) 0;
		text-align: center;
	    align-self: center;
	    display: flex;
	    justify-content: center;
    }
    
    .btn-open-search {
	    @include contain-bg;
		background-image:url(../img/icon-search.svg);
		background-size:23px;
		height:45px;
		width:45px;
		overflow: hidden;
		position: relative;
		&:focus {
			box-shadow:none
		}
		&:after {
			position: absolute;
			top:-100%;
			left:0;
			width:100%;
			height:100%;
			background-color:#FFF;
			@include fast-animation;
			@include contain-bg;
			background-image:url(../img/icon-close-black.svg);
			background-size:23px;
			content:'';
		}
		
		&[aria-expanded="true"]{
			&:after {
				top:0;
			}
		}
    }
    
    .scrolled &{
        .navbar-dark{
            background:rgba(#000, 0.9);
            border-bottom:none;
            .container-fluid{
	            @include media-breakpoint-up(lg) {
                	padding:calculate-rem(15px) calculate-rem(30px);
                }
            }
        }
    }
    
    @include media-breakpoint-down(lg) {
    	.navbar-toggler {
	    	height: 45px;
	    	width: 45px;
	    	border:3px solid #FFF;
	    	@include x-border-radius(0);
	    	padding:0;
	    	outline:none;
	    	&:focus {
		    	outline:none;
		    	box-shadow: none;
	    	}
	    	span {
		    	background-image:none;
		    	position: relative;
		    	height:100%;
		    	width:100%;
		    	outline:none;
		    	&:focus {
			    	outline:none;
			    	box-shadow: none;
		    	}
		    	span {
			    	width:24px;
			    	height:2px;
			    	background-color:#FFF;
			    	position: absolute;
			    	left:calc((39px - 24px)/2);
			    	
			    	@include fast-animation;
			    	&.top {
				    	top:10px;
			    	}
			    	&.mid {
				    	top:18px;
			    	}
			    	&.btm {
				    	top:26px;
				    	width: 50%;
			    	}
		    	}
	    	}
	    	
	    	&:not(.collapsed){
		    	span {
			    	span.btm {
				    	width: 0;
			    	}
			    	span.top {
				    	transform: translateY(9.5px) rotate(45deg);
			    	}
			    	span.mid {
				    	transform: translateY(0.5px) rotate(-45deg);
			    	}
		    	}
	    	}
    	}
    	
    	.mob-menu-divider {
	    	font-weight: 600;
	    	@include tracking(50);
    	}
    	
    	.social-list {
	    	a {
		    	color:#FFF;
	    	}
    	}
    	
    	.navbar-collapse {
	    	width:100%;
	    	height:100%;
	    	position: fixed;
            display:block !important;
	    	top:-100%;
	    	left:0;
	    	z-index: -1;
	    	padding-left:calculate-rem(15px);
	    	padding-right:calculate-rem(15px);
	    	padding-top:calculate-rem(132px);
	    	
            .nav-item{
                margin-bottom:calculate-rem(40px);
            }
            
	    	.nav-link {
		    	@include font-size(21px);
		    	padding:0;
		    	@include tracking(0);
                margin-bottom:0;
	    	}
	    	
	    	& * {
		    	position: relative;
		    	opacity: 0;
		    	@include fast-animation;
	    	}
	    	&:before {
		    	position: fixed;
		    	top:0;
		    	left:0;
		    	height: 0;
		    	width: 100%;
		    	background-color:rgba(0,0,0,0.93);
		    	@include half-sec-animation;
		    	content:'';
		    	transition-delay: 0.5s;
	    	}
	    	
	    	&.show {
                top:0;
                overflow-y: scroll;
                padding-bottom: 120px;
		    	&:before {
		    		height: 100%;
		    		transition-delay: 0s;
		    	}
		    	& * {
			    	opacity: 1;
			    }
	    	}
    	}
    }
    
    .language-btn{
        
        overflow: hidden;
		position: relative;
		&:focus {
			box-shadow:none
		}
		span {
			position: relative;
			@include fast-animation;
		}
        
        &:before {
			position: absolute;
			top:-100%;
			left:0;
			width:100%;
			height:100%;
			background-color:#FFF;
			@include fast-animation;
			@include contain-bg;
			background-size:23px;
			content:'';
		}
		
		&.show{
			span {
				color:#000;
			}
			&:before {
				top:0;
			}
		}
    }
    
    .language-select{
        border:none;
        border-radius:0;
        background-color:transparent;
        background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
        color:#fff;
        @include font-size(21px);
        font-weight:700;
        width: auto;
        padding-right: 36px !important;
        option{
            color:#000;
            padding:1rem !important;
        }
    }
    
    @media(max-width:355px){
	    .mob-invest-cta {
		    display: none !important;
	    }
    }
    
    .dropdown-menu.show{
        background:rgba(0, 0, 0, 0.9);
        top:81px;
        .scrolled &{
            top:69px;
        }
    }
    
}
