.hero{
    
    padding-top:100px;
    height:940px;
    position:relative;
    border-bottom:10px solid #000;
    
    @include media-breakpoint-down(md){
        height: 100vh;
    }
    
    &:before {
	    @include overlay-tint;
    }
    
    & > div {
	    position: relative;
    }
    
    h1 {
	    margin-bottom:calculate-rem(26px);
	    a {
		    color:#FFF;
		    text-decoration: none;
		    span.wrap {
			    border-right: 6px solid map-get($colors, 'orange');;
			    animation: blink-caret .75s step-end infinite;
			    padding-right:10px;
		    }
	    }
    }
    
    &.hero-md {
	    height:650px;
    }
    &.hero-md--noImg {
        //no fixed height on this one
	    height: auto;
    }
    
    &.no-overlay {
	    &:before {
		    height:30%;
		    background: rgb(0,0,0);
			background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	    }
    }
    
    /* The typewriter cursor effect */
	@keyframes blink-caret {
	  from, to { border-color: rgba(map-get($colors, 'orange'), 0.4) }
	  50% { border-color: map-get($colors, 'orange'); }
	}
    
    .text-content {
	    margin-bottom:calculate-rem(30px);
    }
    
    @each $color in $colours-dark {
        &.border-bottom-#{$color}{
            border-bottom-color: map-get($colors, $color);
        }
    }
    @each $color in $colours-light {
        &.border-bottom-#{$color}{
            border-bottom-color: map-get($colors, $color);
        }
    }   

    
}