.mega-menu{
    
    & * {
	    text-transform: none;
    }
    @include media-breakpoint-up(lg){
        transition: all 0.5s ease-in-out;
        margin:0;
        top:-100%;
        left:0;
        pointer-events: none;
        width:100%;
        opacity:0;
        transition-delay: 0.5s;
        padding:calculate-rem(160px) 0 calculate-rem(60px);
        display:block !important;
        position: fixed !important;
        height: auto !important;
        z-index:-4;
    }
    
    @include media-breakpoint-down(lg){
        background:transparent !important;
        position:relative !important;
        padding:0;
        margin-top:30px;
        .container{
            margin:0;
            padding:0;
        }
    }
    
    &.collapsing:not(.showing){
        z-index:-4;
    }
    &.collapsing.showing{
        z-index:-1;
    }
    
    a.card{
        color:inherit;
    }
    
    ul.two-column{
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        a{
            color:inherit;
            text-decoration:none;
            @include font-size(21px);
            @include line-height(40px);
            @include media-breakpoint-up(lg) {
	            @include half-sec-animation;
            	&:hover {
	            	color:map-get($colors, 'orange');
	            	
            	}
            }
        }
        @include media-breakpoint-down(lg){
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
            padding-left:20px;
            a{
                @include font-size(18px);
            }
            &:before{
                content:"";
                display:block;
                width:2px;
                height:calc(100% - 25px);
                position:absolute;
                left:0;
                top:12px;
                background:map-get($colors, 'orange');
            }
        }
    }
    @include media-breakpoint-up(lg){
        
        &.about-to-close{
            display:none;
            z-index:-4;
        }
        
		.row {
			& > div {
				.card,h4,li, form {
					opacity: 0;
					@include half-sec-animation;
					transition-delay: 0s;
					transition-duration: 0;
				}
				
				h4 {
					transform: translateX(5%);
				}
				ul {
					li {
						transform: translateX(5%);
					}
				}
				
				
			}
		}
		
		&.showing {
			transition-delay: 0s;
		}   
		
		&.showing, &.show {
            
            opacity:1;
            top:0%;
            pointer-events: all;
            
			.row {
				& > div {
					.card,h4,li, form{
						opacity:1;
						transition-delay: 0.4s;
						transform: translateX(0px);
					}
					h4 {
						transition-delay: 0.6s;
					}
					form {
						transition-delay: 0.9s;
					}
					ul {
						li {
						}
						li:nth-child(1) {
							transition-delay: 0.9s;
						}
						li:nth-child(2) {
							transition-delay: 1.1s;
						}
						li:nth-child(3) {
							transition-delay: 1.3s;
						}
						li:nth-child(4) {
							transition-delay: 1.5s;
						}
						li:nth-child(5) {
							transition-delay: 1.7s;
						}
						li:nth-child(6) {
							transition-delay: 1.9s;
						}
						li:nth-child(7) {
							transition-delay: 2.1s;
						}
						li:nth-child(8) {
							transition-delay: 2.3s;
						}
						li:nth-child(9) {
							transition-delay: 2.5s;
						}
						li:nth-child(10) {
							transition-delay: 2.7s;
						}
						li:nth-child(11) {
							transition-delay: 2.9s;
						}
						li:nth-child(12) {
							transition-delay: 3.1s;
						}
						li:nth-child(13) {
							transition-delay: 3.3s;
						}
						li:nth-child(14) {
							transition-delay: 3.5s;
						}
					}
				}
				
			}
		} 
	}
}
