.section-full_width_signpost{
    
    .bg-img{
        top: 0;
        background-image: url(https://via.placeholder.com/675x550);
        background-size: cover;
        background-position: center;
        height: 100%;
        width: inherit;
        right: -25px;
        position:absolute;
        @include media-breakpoint-down(md) {
            left: -15px;
            position: relative;
            height: 400px;
            width: calc(100% + 30px);
            right: auto;
        }
    }
    
    
    &:nth-child(odd) {
	    .row {
		    flex-direction: row-reverse;
		    .bg-img {
			    left:-25px;
                @include media-breakpoint-down(md) {
                    left:-15px;   
                }
		    }
	    }
    }
    
    
}