.section-case_studies_grid {
	// animate active slide images
	a.card:hover {
		.img-stack img {
			-webkit-animation-name: fade;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-duration: 6s;
		    animation-name: fade;
		    animation-iteration-count: infinite;
		    animation-duration: 6s;
	    }
	}
	
	.sector-cards {
		
		& > div {
			&:first-child, &:nth-child(4), &:nth-child(7), &:nth-child(10) {
				.img-stack img:nth-child(2), .img-stack img:last-child{
					opacity: 0;
				}
			}
			
			&:nth-child(2), &:nth-child(5), &:nth-child(8), &:nth-child(11){
				.img-stack img:first-child, .img-stack img:last-child {
					opacity: 0;
				}
			}
			&:nth-child(3),&:nth-child(6), &:nth-child(9), &:nth-child(12){
				.img-stack img:first-child, .img-stack img:nth-child(2) {
					opacity: 0;
				}
			}
		}
	}
	
	.section-case_studies_filter + & {
		padding-top:0 !important;
	}
}