.section-team_swiper,
.section-team_contacts_swiper{
    
    .slider-hider{
        
        position:absolute;
        right:0;
        width:50vw;
        height:100%;
        background:red;
        top:0;
        z-index:3;
        
    }
    
    .main-content,
    .main-img{
        z-index:4;
        position:relative;
    }
    
    @each $colorname, $color in $colors {
        &.bg-#{$colorname}{
            
            .slider-hider{
                background:$color;   
            }
        }
    }
    
}