.section-partners_grid {
	.logo-grid {
		& > div {
			@media (max-width:340px){
				width: 100%;
			}
		}
		.ratio {
			overflow: hidden;
			& > a {
				background:rgba(#000, 0.1);
				@include half-sec-animation;
				img {
					@include half-sec-animation;
				}
				&:hover {
					background:rgba(#000,1);
					img {
						filter: invert(1);
					}
					span.btn {
						bottom:10px;
					}
				}
			}
			
			span.btn {
				position: absolute;
				bottom:10px;
				left:0;
				width: 100%;
				display: inline-block;
				text-align: center;
				border:0;
				@include font-size(14px);
				color:#000;
				@include media-breakpoint-up(lg) {
					bottom:-25px;
					@include fast-animation;
					color:map-get($colors, 'orange');
					i:before {
						background-image:url(../img/icon-external-white.svg);
					}
					
				}
			}
			
		}
	}
	
	
}