.section-key_contact_intro{
    
    .border-left{
        border-left:4px solid rgba(196,196,196,0.2);
        @include media-breakpoint-down(md){
            border-left:0;
        }
    }
    
    .card.card-team {
	    @include media-breakpoint-down(lg) {
	    	flex-direction: row;
	    	& > div {
		    	flex:1;
	    	}
	    }
    }
    
    .card.card-team {
	   @media (max-width:340px){
		   flex-direction: column;
		   .card-body {
			   padding:0 !important;
			   margin-bottom:calculate-rem(20px);
		   }
	   }
	}
    
}