.img-stack {
    position:absolute;
    top:0px;
    left:0;
}
.img-stack img {
    position:absolute;
    left:0;
    top:0;
    @include half-sec-animation;
}

// animate active slide images
.tab-pane.active {
	.swiper-slide-active {
		.img-stack img {
			-webkit-animation-name: fade;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-duration: 6s;
		    animation-name: fade;
		    animation-iteration-count: infinite;
		    animation-duration: 6s;
	    }
	}
}

// show phase 2 image of next slide
.swiper-slide-next {
	.img-stack img:first-child, .img-stack img:last-child {
		opacity: 0;
	}
	// show phase 3 image of slide after next
	& + .swiper-slide {
		.img-stack img:first-child, .img-stack img:nth-child(2) {
			opacity: 0;
		}
	}
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.img-stack img:first-child {
    //background-color: lightblue;
}
.img-stack img:nth-child(2) {
    -webkit-animation-delay: -4s;
}
.img-stack img:last-child {
    -webkit-animation-delay: -2s;
}
