.section-testimonials_swiper{
    
    
    .swiper-slide{
        p{
            @include font-size(21px);
            @include line-height(27px);
            @include media-breakpoint-down(lg){
                @include font-size(18px);
                @include line-height(22px);
            }
        }
    }
    
    .swiper-container{
        .swiper-controls{
            bottom:0;
            right:14px;
        }
        .swiper-pagination{
            bottom:10px;
            left:10px;
        }
    }
}