.section-page_navigation {
	position: sticky;
    top: 91.22px;
    z-index: 11;
    overflow: auto;
	ul {
		display: inline-block;
		margin-bottom:0;
		white-space: nowrap;
		li {
			display: inline-block;
			margin-right:calculate-rem(20px);
			@include media-breakpoint-down(md) {
				margin-right:calculate-rem(15px);
			}
			&:last-child {
				margin-right:0;
			}
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-weight: bold;
				color:#000;
				@include font-size(16px);
			}
		}
	}
}