.section-news_featured{
    
    .card-news{
        .card-title{
            font-size: 1.5rem;
            line-height: 1.1;
        }
        @include media-breakpoint-up(sm){
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            > * {
                flex-basis: 50%;
            }
            img{
                margin-right: calc( var(--bs-gutter-x) );
            }
            .card-body{
                padding-top: 0;
            }
            .card-title{
                font-size: 1rem;
            }
        }
        @include media-breakpoint-up(md){
            > * {
                flex-basis: calc(1/3 * 100%);
            }
            img{
                flex-basis: calc(2/3 * 100%);
            }
        }
        @include media-breakpoint-up(lg){
            .card-title{
                @include font-size(32px);
            }
        }
    }
}