        </div>

        <footer class="mastfoot">
            
            <div class="find-us bg-black py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4 class="mb-4" data-aos="fade-up"><strong>Where to find us</strong></h4>
                            <ul class="list-unstyled list-inline mb-0" data-aos="fade-up" data-aos-offset="150">
                                <li class="list-inline-item"><a href="#" title="title">Amsterdam</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Berlin</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Dublin</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Frankfurt</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Helsinki</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Lisbon</a></li>
                                <li class="list-inline-item"><a href="#" title="title">London</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Luxembourg</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Madrid</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Marbella</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Munich</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Porto</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Singapore</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Stockholm</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="social-links py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <ul class="list-unstyled list-inline mb-0" data-aos="fade-up">
                                <li class="list-inline-item"><a href="#" title="title"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" title="title"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" title="title"><i class="bi bi-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="#" title="title"><i class="bi bi-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="primary bg-white py-4 py-md-5">
            
                <div class="container py-4">

                    <div class="row">

                        <div class="col-6 col-md-2 mx-auto mb-5 mb-md-0 text-center">
                            <a class="navbar-brand" href="#">
                                <img class="mb-5" src="./assets/img/roundhillcapital_logo_full.svg" alt="Round Hill Capital"/>
                            </a>
                            <img class="mb-5" src="./assets/img/20years.svg" alt="Round Hill Capital"/>
                            <a href="#" class="btn-underlined underline-orange">Investors Login <i class="bi-chevron-right"></i></a>
                        </div>
                        
                        <div class="col-12 col-md-8 offset-md-2">
                                
                            <div class="row">

                                <div class="col-12 col-md-4 text-center text-md-start mb-4 mb-sm-0">
                                    <h2 class="h6 mb-3 green-text small"><strong>Round Hill Capital</strong></h2>
                                    <ul class="list-unstyled">
                                        <li><a href="#" title="title">Who we are</a></li>
                                        <li><a href="#" title="title">History</a></li>
                                        <li><a href="#" title="title">Team</a></li>
                                        <li><a href="#" title="title">ESG</a></li>
                                        <li><a href="#" title="title">Careers</a></li>
                                        <li><a href="#" title="title">Contact us</a></li>
                                    </ul>
                                </div>

                                <div class="col-12 col-md-4 text-center text-md-start mb-4 mb-sm-0">
                                    <h2 class="h6 mb-3 green-text small"><strong>Business Services</strong></h2>
                                    <ul class="list-unstyled">
                                        <li><a href="#" title="title">Investment</a></li>
                                        <li><a href="#" title="title">Development</a></li>
                                        <li><a href="#" title="title">Asset Management</a></li>
                                        <li><a href="#" title="title">Property Management</a></li>
                                    </ul>
                                </div>

                                <div class="col-12 col-md-4 text-center text-md-start">
                                    <h2 class="h6 mb-3 green-text small"><strong>Our Sectors</strong></h2>
                                    <ul class="list-unstyled">
                                        <li><a href="#" title="title">Residential</a></li>
                                        <li><a href="#" title="title">PBSA</a></li>
                                        <li><a href="#" title="title">Senior Living</a></li>
                                        <li><a href="#" title="title">Logistics &amp; Industrial</a></li>
                                        <li><a href="#" title="title">Property Technology</a></li>
                                        <li><a href="#" title="title">Credit</a></li>
                                        <li><a href="#" title="title">Meanwhile Accomodation</a></li>
                                        <li><a href="#" title="title">Case Studies</a></li>
                                    </ul>
                                </div>

                            </div>
                                
                        </div>

                    </div>

                </div>
                
            </div>
            
            <div class="secondary bg-lgrey py-4">
            
                <div class="container">
                
                    <div class="row text-center text-md-start">
                        <div class="col-12 order-last order-md-first col-md-4 mt-2 mt-md-0">
                            &copy; 2022 Round Hill Capital LLC
                        </div>
                        <div class="col-12 col-md-8 d-md-flex justify-content-end">
                            <ul class="list-unstyled list-inline mb-0">
                                <li class="list-inline-item"><a href="#" title="title">Terms &amp; Conditions</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Privacy Policy</a></li>
                                <li class="list-inline-item"><a href="#" title="title">Modern Slavery Statement</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </footer>

        ${require('_footer_includes.html')}

    </body>

</html>