<section class="hero bg-cover bg-black border-bottom-teal" style="background-image:url('./assets/img/hero_bridge.jpg')">
    <div class="h-100 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 col-xxl-8">
                    <h4 class="display-6">Round Hill Capital</h4>
                    <h1>
					  <a href="" class="typewrite display-1" data-period="2000" data-type='[ "Reshaping our built environment.", "A unique proposition.", "Accelerating growth.", "$10.3BN capital deployed." ]'>
					    <span class="wrap"></span>
					  </a>
					</h1>
                    <div class="text-content">
                        <p>We invest in cutting edge and renewable technology and materials that improve human lives and will protect the planet and future generations.</p>
                    </div>
                    <div class="btn-container d-flex d-lg-block flex-column flex-lg-row">
	                    <a href="#" class="btn-underlined underline-orange me-auto me-lg-0">Find out more <i class="bi-chevron-right"></i></a>
	                    <a href="#" class="btn-underlined me-auto me-lg-0">Another CTA <i class="bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>