<section class="hero hero-md bg-cover bg-black ${props.class}" style="background-image:url('${props.bgimg}')">
    <div class="h-100 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 col-xxl-8">
                    <h4 class="display-6">${props.pretitletext}</h4>
                    <h1 class="display-1">${props.titleText}</h1>
                </div>
            </div>
        </div>
    </div>
</section>