<section class="hero hero-md hero-md--noImg bg-black ${props.class}">
    <div class="h-100 d-flex align-items-center py-5">
        <div class="container py-xl-5">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <h4 class="display-6">${props.pretitletext}</h4>
                    <h1 class="display-1">${props.titleText}</h1>
                </div>
                <div class="col-12 col-md-8 col-lg-5 offset-xl-1 align-self-end">
                    <p>${props.paragraphText}</p>
                </div>
            </div>
        </div>
    </div>
</section>