<section class="section-key_contact_intro py-4 py-md-5 bg-white">
    
    <div class="container py-5">
        
        <div class="row g-md-5">
            <div class="col-12 col-lg-6">
                <h2 class="display-2" data-aos="fade-up">General enquiries.</h2>
                <div class="mb-4" data-aos="fade-up">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim 
	                veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>

					<p>For office-specific contact information, please visit our our <a href="#">offices page</a>.</p>
                </div>
                <div data-aos="fade-right" class="mb-5 mb-lg-0">
	                <p class="text-uppercase x-small text-medium mb-3">SOCIAL</p>
	                <ul class="list-unstyled list-inline mb-0">
                    	<li class="list-inline-item square-icon"><a href="#" title="title"><i class="bi bi-facebook"></i></a></li>
                        <li class="list-inline-item square-icon"><a href="#" title="title"><i class="bi bi-twitter"></i></a></li>
                        <li class="list-inline-item square-icon"><a href="#" title="title"><i class="bi bi-linkedin"></i></a></li>
                        <li class="list-inline-item square-icon"><a href="#" title="title"><i class="bi bi-youtube"></i></a></li>
                    </ul>
                </div>
	            <a href="#more_ways" class="btn-underlined underline-grey btn-scroll_to mt-4 d-none d-lg-inline-block">More ways to contact us <i class="bi-chevron-down"></i></a>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column" data-aos="fade-left">
                <form class="bg-black p-3 p-lg-4">
	                <div class="row">
		                <div class="col-12 col-lg-6">
			                <div class="item-wrapper">
				                <label for="first_name">First name</label>
				                <input type="text" name="first_name" />
			                </div>
		                </div>
		                <div class="col-12 col-lg-6">
			                <div class="item-wrapper">
				                <label for="last_name">Last name</label>
				                <input type="text" name="last_name" />
			                </div>
		                </div>
		                <div class="col-12 col-lg-6">
			                <div class="item-wrapper">
				                <label for="job_title">Job title <span>(optional)</span></label>
				                <input type="text" name="job_title" />
			                </div>
		                </div>
		                <div class="col-12 col-lg-6">
			                <div class="item-wrapper">
				                <label for="company_name">Company name <span>(optional)</span></label>
				                <input type="text" name="company_name" />
			                </div>
		                </div>
		                <div class="col-12">
			                <div class="item-wrapper">
				                <label for="email_address">Email Address</label>
				                <input type="text" name="email_address" />
			                </div>
		                </div>
		                <div class="col-12 flex-column">
			                <div class="item-wrapper">
				                <label for="reason">Reason for contact</label>
				                <select name="reason">
					                <option></option>
					                <option>Reason 1</option>
					                <option>Reason 2</option>
					                <option>Reason 3</option>
				                </select>
			                </div>
		                </div>
		                <div class="col-12">
			                <div class="item-wrapper">
				                <label for="message">Reason for contact</label>
				                <textarea name="message"></textarea>
			                </div>
		                </div>
	                </div>
	                <div class="row pb-3">
		                <div class="col-12">
			                <a href="#" class="btn-underlined underline-orange">Send message <i class="bi-chevron-right"></i></a>
		                </div>
	                </div>
                </form>
                <div class="d-lg-none mt-4" data-aos="fade-right">
                	<a href="#more_ways" class="btn-underlined underline-grey btn-scroll_to">More ways to contact us <i class="bi-chevron-down"></i></a>
                </div>
            </div>
        </div>

        
    </div>
    
</section>
