<section class="section-news_and_views_grid py-4 py-lg-5 bg-cover ${props.class}" id="${props.id}">
    
    <div class="overflow-hidden">
    
        <div class="container">

            <div class="row sector-cards gy-4">
                <div class="col-12 col-sm-6 col-md-4">
					
					<div class="card card-news" data-aos="fade-up">
						<img src="./assets/img/news-1.jpg" class="card-img-top" alt="...">
						<div class="card-body px-0">
							<ul class="list-inline cat-list cat-list-orange mb-2">
								<li class="list-inline-item text-uppercase"><a href="#">News</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Residential</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Investment</a></li>
							</ul>
							<h1 class="card-title display-7">Round Hill Capital purchase 250-bed asset for students in Valencia</h1>
							<p class="card-text text-uppercase x-small mt-2">15th December 2021</p>
							<a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
						</div>
					</div>
					
                </div>
				<div class="col-12 col-sm-6 col-md-4">
					
					<div class="card card-news" data-aos="fade-up">
						<img src="./assets/img/news-1.jpg" class="card-img-top" alt="...">
						<div class="card-body px-0">
							<ul class="list-inline cat-list cat-list-orange mb-2">
								<li class="list-inline-item text-uppercase"><a href="#">News</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Residential</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Investment</a></li>
							</ul>
							<h1 class="card-title display-7">Round Hill Capital purchase 250-bed asset for students in Valencia</h1>
							<p class="card-text text-uppercase x-small mt-2">15th December 2021</p>
							<a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					
					<div class="card card-news" data-aos="fade-up">
						<img src="./assets/img/news-1.jpg" class="card-img-top" alt="...">
						<div class="card-body px-0">
							<ul class="list-inline cat-list cat-list-orange mb-2">
								<li class="list-inline-item text-uppercase"><a href="#">News</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Residential</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Investment</a></li>
							</ul>
							<h1 class="card-title display-7">Round Hill Capital purchase 250-bed asset for students in Valencia</h1>
							<p class="card-text text-uppercase x-small mt-2">15th December 2021</p>
							<a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					
					<div class="card card-news" data-aos="fade-up">
						<img src="./assets/img/news-1.jpg" class="card-img-top" alt="...">
						<div class="card-body px-0">
							<ul class="list-inline cat-list cat-list-orange mb-2">
								<li class="list-inline-item text-uppercase"><a href="#">News</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Residential</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Investment</a></li>
							</ul>
							<h1 class="card-title display-7">Round Hill Capital purchase 250-bed asset for students in Valencia</h1>
							<p class="card-text text-uppercase x-small mt-2">15th December 2021</p>
							<a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4">
					
					<div class="card card-news" data-aos="fade-up">
						<img src="./assets/img/news-1.jpg" class="card-img-top" alt="...">
						<div class="card-body px-0">
							<ul class="list-inline cat-list cat-list-orange mb-2">
								<li class="list-inline-item text-uppercase"><a href="#">News</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Residential</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Investment</a></li>
							</ul>
							<h1 class="card-title display-7">Round Hill Capital purchase 250-bed asset for students in Valencia</h1>
							<p class="card-text text-uppercase x-small mt-2">15th December 2021</p>
							<a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4">
					
					<div class="card card-news" data-aos="fade-up">
						<img src="./assets/img/news-1.jpg" class="card-img-top" alt="...">
						<div class="card-body px-0">
							<ul class="list-inline cat-list cat-list-orange mb-2">
								<li class="list-inline-item text-uppercase"><a href="#">News</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Residential</a></li>
								<li class="list-inline-item text-uppercase"><a href="#">Investment</a></li>
							</ul>
							<h1 class="card-title display-7">Round Hill Capital purchase 250-bed asset for students in Valencia</h1>
							<p class="card-text text-uppercase x-small mt-2">15th December 2021</p>
							<a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
						</div>
					</div>
				</div>
				
            </div>
            
            <div class="row py-5">
			    <div class="col-12 d-flex justify-content-center">
				    <ul class="pagination-list">
<!-- 					<li><a href="#" class="prev"><i class="bi-chevron-left"></i></a></li> --> <!-- can we hide if on page 1 -->
					    <li class="current">1</li>
					    <li><a href="#">2</a></li>
					    <li class="d-none d-md-flex"><a href="#">3</a></li>
					    <li class="d-none d-lg-flex"><a href="#">4</a></li> <!-- will need to hide certain numbers as the window gets smaller -->
					    <li><a href="#">&hellip;</a></li>
					    <li><a href="#">10</a></li>
					    <li><a href="#" class="next"><i class="bi-chevron-right"></i></a></li>
				    </ul>
			    </div>
		    </div>
        </div>
    </div>
    
</section>