<section class="section-sector_swiper py-4 py-md-5 bg-cover border-top">
    
    <div class="overflow-hidden">
    
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-9">
                    <h4 class="display-6" data-aos="fade-right">Our Sectors</h4>
                    <h2 class="display-2" data-aos="fade-right" data-aos-offset="150">How & where we invest, develop & property manage.</h2>
                </div>
            </div>

            <div class="row sector-cards">
                <div class="col-12">

                    <ul class="nav nav-tabpanel mb-3" id="sectorSwiperTabs" role="tablist" data-aos="fade-up">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active btn-underlined display-6" id="sectorSwiperTab_1" data-bs-toggle="tab" data-bs-target="#sectorSwiperTabPane_1" type="button" role="tab" aria-controls="sectorSwiperTabPane_1" aria-selected="true">Residential</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link btn-underlined display-6" id="sectorSwiperTab_2" data-bs-toggle="tab" data-bs-target="#sectorSwiperTabPane_2" type="button" role="tab" aria-controls="sectorSwiperTabPane_2" aria-selected="false">PBSA</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link btn-underlined display-6" id="sectorSwiperTab_3" data-bs-toggle="tab" data-bs-target="#sectorSwiperTabPane_3" type="button" role="tab" aria-controls="sectorSwiperTabPane_3" aria-selected="false">Senior Living</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link btn-underlined display-6" id="sectorSwiperTab_4" data-bs-toggle="tab" data-bs-target="#sectorSwiperTabPane_4" type="button" role="tab" aria-controls="sectorSwiperTabPane_4" aria-selected="false">Logistics &amp; Industrial</a>
                        </li>
                    </ul>

                    <div class="tab-content mb-5" id="sectorSwiperTabTabContent">
                        <div class="tab-pane fade show active" id="sectorSwiperTabPane_1" role="tabpanel" aria-labelledby="sectorSwiperTab_1">
                            
                            <div class="row">
                                <div class="col-12 col-md-9" data-aos="fade-up">
                                    <p>The Residential sector is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                    <a href="#" class="btn-underlined">Residential Overview <i class="bi-chevron-right"></i></a>
                                </div>
                            </div>

                            <div class="swiper-container mt-4" data-aos="fade-up">

                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
	                                        <div class="img-stack">
                                            	<img src="./assets/img/case_study-1-1.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-1-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-1-3.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">£123.5m PRS Scheme in Dublin, Ireland</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
	                                        <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-3-1.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-3-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-3-3.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">Palo Alto Collection in Marbella, Spain</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-controls">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="sectorSwiperTabPane_2" role="tabpanel" aria-labelledby="sectorSwiperTab_2">
                            
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <p>The PBSA sector is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                    <a href="#" class="btn-underlined">PBSA Overview <i class="bi-chevron-right"></i></a>
                                </div>
                            </div>

                            <div class="swiper-container mt-4">

                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">European student accommodation JV with CPP investments</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">Student Accomodation in Valencia, Spain</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">703 Student beds in The Netherlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>
                                    
                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-controls">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="sectorSwiperTabPane_3" role="tabpanel" aria-labelledby="sectorSwiperTab_3">
                            
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <p>The Senior Living sector is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                    <a href="#" class="btn-underlined">Senior Living Overview <i class="bi-chevron-right"></i></a>
                                </div>
                            </div>

                            <div class="swiper-container mt-4">

                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">£123.5m PRS Scheme in Dublin, Ireland</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-controls">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="sectorSwiperTabPane_4" role="tabpanel" aria-labelledby="sectorSwiperTab_4">
                            
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <p>The Logistics & Industrial sector is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                    <a href="#" class="btn-underlined">Logistics & Industrial Overview <i class="bi-chevron-right"></i></a>
                                </div>
                            </div>

                            <div class="swiper-container mt-4">

                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">£123.5m PRS Scheme in Dublin, Ireland</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
	                                        <div class="img-stack">
                                            	<div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-controls">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            
        </div>
        
    </div>
    
</section>