<section class="section-key_contact_intro py-4 py-md-5 bg-white">
    
    <div class="container py-5">
        
        <div class="row g-md-5">
            <div class="col-12 col-md-9">
                <h2 class="display-2" data-aos="fade-up">Intelligence powers Round Hill Capital.</h2>
                <div class="mb-4" data-aos="fade-up">
                    <p>Our investments are informed by our experience and our expertise to create bespoke opportunities that are matched to investor needs.</p>
                    <p>With a 20-year track record in Europe, Round Hill Capital’s vertical integration across investment, development and property management means xxxxxx.</p>
                    <p>This agility gives us local knowledge, first-mover advantages and a deep understanding of the sector. <strong>We also believe in</strong> innovation: customer-driven, data-rich technology is integral to how we identify opportunities now and in the future.</p>
                    <p>It’s this combination of unparalleled insights and experience that’s seen us deploy $10.3 billion* in capital with 24% IRR** and we’re not standing still. We have 320 employees in 16 offices globally and our vision is to build thriving, sustainable communities that give social value to our customers and financial value to our investors and partners – intelligently.</p>
                    <p>To discuss our product offering with one of the capital markets group, please contact <a href="#">info@roundhillcapital.com</a></p>
                </div>
            </div>
            <div class="col-12 col-md-3 border-left d-flex flex-column" data-aos="fade-left">
                <h4 class="display-6">Key contact</h4>
                <div class="card card-team">
	                <div class="bg-lgrey mb-3">
                    	<img src="./assets/img/team-brian_welsh.jpeg" alt="..." >
	                </div>
                    <div class="card-body px-3 p-lg-0">
                        <h5><strong>Brian Welsh</strong></h5>
                        <p>Head of Student</p>
                        <a href="#" class="btn-underlined">Contact Brian <i class="bi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="mt-auto">
                	<a href="#key_contacts" class="btn-underlined underline-grey btn-scroll_to">View more contacts <i class="bi-chevron-down"></i></a>
                </div>
            </div>
        </div>

        
    </div>
    
</section>
