<section class="section-partners_grid py-5 bg-lgrey">
	<div class="container py-4">
		<div class="row" data-aos="fade-up">
			<h2 class="display-2"><strong>Our partners &amp; global investors</strong></h2>
		</div>
		<div class="row">
			<div class="col-12 col-lg-4" data-aos="fade-right">
				<p>Round Hill Capital’s investor base includes some of the world’s most highly regarded private equity funds, sovereign wealth funds, pension funds, 
				insurance companies and other institutions for whom Round Hill Capital has a proven track record of delivering investment outperformance.</p>
				
				<div class="mob-filtering position-relative">
					<div class="d-lg-none text-uppercase mb-5" data-aos="fade-up">
						<p>Filter by sector</p>
						<button type="button" href="#"><span>All partners &amp; investors</span></button>
					</div>
					
					<ul class="filter-list text-uppercase mb-5" data-aos="fade-right" data-aos-offset="100">
						<li><a href="#" class="active">ALL PARTNERS &amp; INVESTORS</a></li>
						<li><a href="#">Financial institutions and sovereign wealth funds</a></li>
						<li><a href="#">Insurance and pension funds</a></li>
						<li><a href="#">Wealth managers and family offices</a></li>
						<li><a href="#">Capital allocators</a></li>
						<li><a href="#">Private equity and hedge funds</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-8">
				<div class="row logo-grid" data-aos="fade-up">
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-adic.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-blackstone.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-cpp.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-dyal.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-ivanhoe_cambridge.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-julius_bar.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-mubadala.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-nbk.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-stepstone.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
					<div class="col-6 col-md-4 mb-4">
						<div class="ratio ratio-1x1">
							<a href="#" class="d-flex" title="...">
								<img class="img-contain w-75 mx-auto" alt="..." src="./assets/img/logo-tpg.png" />
								<span class="btn">Visit website <i class="bi-external"></i></span>
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>