<section class="section-news_and_views_filter section-filter_row">
	<div class="container pt-4">
		<div class="d-lg-none mob-filtering">
			<button type="button" class="btn-show-filters">Filter news &amp; views <span></span></button>
		</div>
		<div class="row filter-row">
			<div class="col-12 col-md">
				<div class="item-wrapper">
					<label class="mb-0 x-small">Filter by type</label>
					<select class="underlined">
						<option>All types</option>
						<option>News</option>
						<option>Views</option>
					</select>
				</div>
			</div>
			<div class="col-12 col-md">
				<div class="item-wrapper">
					<label class="mb-0 x-small">Filter by service</label>
					<select class="underlined">
						<option>All services</option>
						<option>Investment</option>
						<option>Asset Management</option>
						<option>Development</option>
						<option>Property Management</option>
					</select>
				</div>
			</div>
			<div class="col-12 col-md">
				<div class="item-wrapper">
					<label class="mb-0 x-small">Filter by sector</label>
					<select class="underlined">
						<option>All sectors</option>
						<option>Residential</option>
						<option>PBSA</option>
						<option>Senior Living</option>
						<option>Logistics &amp; Industrial</option>
						<option>Property Technology</option>
						<option>Credit</option>
						<option>Meanwhile Accomodation</option>
					</select>
				</div>
			</div>
			<div class="col-12 col-md">
				<div class="item-wrapper">
					<label class="mb-0 x-small">Filter by country</label>
					<select class="underlined">
						<option>All Countries</option>
						<option>Bahrain</option>
						<option>China</option>
						<option>Finland</option>
						<option>Republic of Ireland</option>
						<option>Spain</option>
						<option>Sweden</option>
						<option>The Netherlands</option>
						<option>United Kingdom</option>
						<option>United States</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</section>