<section class="section-team_swiper overflow-hidden py-4 py-md-5 bg-lgrey">
    
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-9">
                <h4 class="display-6" data-aos="fade-right">Executive Management</h4>
                <h2 class="display-2" data-aos="fade-right" data-aos-offset="100">20 years of innovation &amp; leadership.</h2>
            </div>
        </div>
        
        <div class="row pt-0 pt-md-4">
            <div class="col-12 col-md-5 col-lg-4 mb-4 mb-md-0 position-relative">
                <div class="slider-hider"></div>
                <a href="#" title="link title">
                    <img class="main-img h-100 w-100 img-cover" data-aos="fade-up" src="./assets/img/team-michael_bickford.jpg" alt="Michael Bickford, Founder and Chief Executive Officer">
                </a>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="pb-4" data-aos="fade-left">
                    <h5><strong>Michael Bickford</strong></h5>
                    <p><strong>Founder and Chief Executive Officer</strong></p>
                    <p>Michael established Round Hill in 2002 and has been responsible for the firm's investment activities, which have resulted in the acquisition and management of over $8 billion of real estate investments.</p>
                    <div class="btn-container d-flex d-lg-block flex-column flex-lg-row">
	                    <a href="#" class="btn-underlined underline-orange me-auto me-lg-0">Read more about Michael <i class="bi-chevron-right"></i></a>
	                    <a href="#" class="btn-underlined me-auto me-lg-0">View team <i class="bi-chevron-right"></i></a>
                    </div>
                </div>
            
                <div class="swiper-container mt-4" data-aos="fade-up">
        
                    <div class="swiper-wrapper">
                        
                        <div class="swiper-slide">
                            <a href="#" title="link title">
                                <img src="./assets/img/team-lindstrom.jpg" alt="...">
                            </a>
                        </div>
                        
                        <div class="swiper-slide">
                            <a href="#" title="link title">
                                <img src="./assets/img/team-levy.jpg" alt="...">
                            </a>
                        </div>
                        
                        <div class="swiper-slide">
                            <a href="#" title="link title">
                                <img src="./assets/img/team-hanson.jpg" alt="...">
                            </a>
                        </div>
                        
                        <div class="swiper-slide">
                            <a href="#" title="link title">
                                <img src="./assets/img/team-chinaloy.jpg" alt="...">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" title="link title">
                                <img src="./assets/img/team-arnie_sriskandarajah.jpeg" alt="...">
                            </a>
                        </div>
                        
                        <div class="swiper-slide">
                            <a href="#" title="link title">
                                <img src="./assets/img/team-brian_welsh.jpeg" alt="...">
                            </a>
                        </div>
                        
                        <div class="swiper-slide">
                            <a href="#" title="link title">
                                <img src="./assets/img/team-francois_de_cannart.jpeg" alt="...">
                            </a>
                        </div>

                    </div>
                    
                    <div class="swiper-pagination pagination-orange"></div>
                    
                    <div class="swiper-controls">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>

                </div>
                
            </div>
        </div>
        
    </div>
    
</section>