<section class="section-sector_swiper py-4 py-md-5 bg-cover ${props.class}" id="${props.id}">
    
    <div class="overflow-hidden">
    
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-9" data-aos="fade-right">
                    <h4 class="display-6" data-aos="fade-right">Our Sectors</h4>
                    <h2 class="display-2" data-aos="fade-right" data-aos-offset="150">How & where we invest, develop & property manage.</h2>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                </div>
            </div>

            <div class="row sector-cards">
                <div class="col-12">

                    <div class="tab-content mb-5" id="sectorSwiperTabTabContent">
                        <div class="tab-pane fade show active" id="sectorSwiperTabPane_1" role="tabpanel" aria-labelledby="sectorSwiperTab_1">

                            <div class="swiper-container mt-4" data-aos="fade-up">

                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
	                                        <div class="img-stack">
                                            	<img src="./assets/img/case_study-1-1.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-1-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-1-3.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">£123.5m PRS Scheme in Dublin, Ireland</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
	                                        <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-3-1.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-3-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-3-3.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">Palo Alto Collection in Marbella, Spain</h1>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="swiper-slide">

                                        <a class="card ratio ratio-1x1" href="#" title="link title">
                                            <div class="img-stack">
                                            	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                                            	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
	                                        </div>
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                                            </div>
                                        </a>

                                    </div>

                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-controls">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            
        </div>
        
    </div>
    
</section>