<section class="section-testimonials_swiper py-4 py-md-5 bg-white">
    
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-9">
                <h4 class="display-6" data-aos="fade-right">Testimonials</h4>
                <h2 class="display-2" data-aos="fade-right" data-aos-offset="150">What our investors say.</h2>
            </div>
        </div>
        
        <div class="swiper-container overflow-hidden pb-5 pt-4" data-aos="fade-up">
        
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img class="w-100" src="./assets/img/testimonials-1.jpg" alt="...">
                        </div>
                        <div class="col-12 col-md-6 position-relative my-4 mt-md-0">
                            <div class="quote-mark mb-4 green-text"></div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</p>
                            <p>Mauris bibendum nisi ac congue interdum. Ut vel pulvinar quam. In pulvinar id sapien at ultrices. Fusce facilisis diam sit amet sapien facilisis mollis. Mauris ultricies ut justo at porttitor.</p>
                            <div class="quoter d-flex flex-row">
	                            <p class="small flex-column flex-fill"><strong>Kasper Johansson</strong><br>Job Position at Company</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img class="w-100" src="./assets/img/testimonials-2.jpg" alt="...">
                        </div>
                        <div class="col-12 col-md-6 position-relative mt-4 mt-md-0">
                            <div class="quote-mark mb-4 orange-text"></div>
                            <p>Mauris bibendum nisi ac congue interdum. Ut vel pulvinar quam. In pulvinar id sapien at ultrices. Fusce facilisis diam sit amet sapien facilisis mollis. Mauris ultricies ut justo at porttitor.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</p>
                            <div class="quoter d-flex flex-row">
	                            <p class="small flex-column flex-fill"><strong>Linda Stone</strong><br>Job Position at LMU</p>
	                            <img class="d-flex img-contain align-self-start" src="./assets/img/logo-lmu.jpg" alt="...">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="row">
                <div class="col-12 col-md-6 offset-md-6 position-relative">
                    <div class="swiper-pagination pagination-orange"></div>
                    <div class="swiper-controls">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                
            </div>

        </div>
        
    </div>
    
</section>
