<section class="_section-you_might_like_signposts py-4 py-md-5 ${props.class}" id="${props.id}">
    
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-10">
                <h2 class="display-2" data-aos="fade-right">You might also like.</h2>
            </div>
            <div class="col-12 col-md-2 d-flex align-items-end" data-aos="fade-left">
                <a href="#" class="btn-underlined ms-0 ms-md-auto d-inline-block underline-orange mb-4">View all <i class="bi-chevron-right"></i></a>
            </div>
        </div>
        
        <div class="row pt-4 gy-3 sector-cards">

            <div class="col-12 col-md-6">
                <a class="card ratio ratio-1x1" href="#" title="link title" data-aos="fade-right">
                    <div class="img-stack">
                        <img src="./assets/img/case_study-1-1.jpg" class="card-img h-100 img-cover" alt="...">
                        <img src="./assets/img/case_study-dublin_prs.jpg" class="card-img h-100 img-cover" alt="...">
                        <img src="./assets/img/case_study-1-3.jpg" class="card-img h-100 img-cover" alt="...">
                    </div>
                    
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <p class="small text-uppercase text-medium mb-2 text-white">PBSA</p>
                        <h1 class="card-title display-3 white-text">£123.5m PRS Scheme in Dublin, Ireland</h1>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-6">
                <a class="card ratio ratio-1x1" href="#" title="link title" data-aos="fade-left">
                    <div class="img-stack">
                        <img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
                        <img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
                        <img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
                    </div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <p class="small text-uppercase text-medium mb-2 text-white">Residential</p>
                        <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
                    </div>
                </a>
            </div>
            
        </div>

    </div>
    
</section>