<section class="section-banner py-4 py-md-5 bg-black bg-cover" style="background-image: url('./assets/img/banner-1.jpg');">
    
    <div class="container py-5">
        <div class="row">

            <div class="col-12 col-md-8">

                <h4 class="display-6"data-aos="fade-right">Time to Invest</h4>
                <h2 class="display-2"data-aos="fade-right" data-aos-offset="150">Let's shape the future of real estate.</h2>
                <a href="#" class="btn-underlined underline-orange"data-aos="fade-right" data-aos-offset="200">Get in touch <i class="bi-chevron-right"></i></a>

            </div>

        </div>
    </div>

</section>