<section class="section-sector_signposts py-4 py-md-5 bg-white">
	<div class="container py-5">
		<div class="row">
			
			<div class="col-12 col-md-6 mb-4">
				<div class="d-flex align-items-end ratio ratio-1x1" data-aos="fade-right">
					<a class="card" href="#" title="link title">
						<img src="./assets/img/case_study-1-3.jpg" class="card-img card-img img-cover h-100" alt="...">
						<div class="card-img-overlay d-flex flex-column justify-content-end white-text">
							<h1 class="card-title display-3">Residential</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
							<p class="btn-underlined underline-orange align-self-start">Learn more <i class="bi-chevron-right"></i></p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="col-12 col-md-6 mb-4">
				<div class="d-flex align-items-end ratio ratio-1x1" data-aos="fade-right">
					<a class="card" href="#" title="link title">
						<img src="./assets/img/news-3.jpg" class="card-img card-img img-cover h-100" alt="...">
						<div class="card-img-overlay d-flex flex-column justify-content-end white-text">
							<h1 class="card-title display-3">PBSA</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
							<p class="btn-underlined underline-orange align-self-start">Learn more <i class="bi-chevron-right"></i></p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="col-12 col-md-6 mb-4">
				<div class="d-flex align-items-end ratio ratio-1x1" data-aos="fade-right">
					<a class="card" href="#" title="link title">
						<img src="./assets/img/signpost-est.jpg" class="card-img card-img img-cover h-100" alt="...">
						<div class="card-img-overlay d-flex flex-column justify-content-end white-text">
							<h1 class="card-title display-3">Senior Living</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
							<p class="btn-underlined underline-orange align-self-start">Learn more <i class="bi-chevron-right"></i></p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="col-12 col-md-6 mb-4">
				<div class="d-flex align-items-end ratio ratio-1x1" data-aos="fade-right">
					<a class="card" href="#" title="link title">
						<img src="./assets/img/news-2.jpg" class="card-img card-img img-cover h-100" alt="...">
						<div class="card-img-overlay d-flex flex-column justify-content-end white-text">
							<h1 class="card-title display-3">Logistics &amp; Industrial</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
							<p class="btn-underlined underline-orange align-self-start">Learn more <i class="bi-chevron-right"></i></p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
