<section class="section-service_signposts py-4 py-md-5 bg-white" id="${props.id}">
	<div class="container py-5">
		<div class="row">
			<div class="col-12 col-lg-8 text-center mx-auto mb-5" data-aos="fade-up">
				<h4 class="display-6" data-aos="fade-up" data-aos-offset="100">Business services</h4>
                <h2 class="display-2" data-aos="fade-up" data-aos-offset="200">Local expertise with central oversight.</h2>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel 
	            eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
			</div>
		</div>
		<div class="row">
			
			<div class="col-12 col-lg-6 mb-4">
				<div class="service-signpost d-flex align-items-end ratio ratio-4x3" data-aos="fade-right">
					<img src="./assets/img/bg-investment.png" class="position-absolute top-0 left-0 img-cover" data-aos="fade-right" data-aos-offset="200" />
					<div class="position-relative p-3 p-lg-4">
						<h2 class="display-3">Investment</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
						<a href="#" class="btn-underlined underline-teal">Learn more <i class="bi-chevron-right"></i></a>
					</div>
				</div>
			</div>
			
			<div class="col-12 col-lg-6 mb-4">
				<div class="service-signpost d-flex align-items-end ratio ratio-4x3" data-aos="fade-left">
					<img src="./assets/img/bg-asset_management.png" class="position-absolute top-0 left-0 img-cover" data-aos="fade-left" data-aos-offset="200" />
					<div class="position-relative p-3 p-lg-4">
						<h2 class="display-3">Asset Management</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
						<a href="#" class="btn-underlined underline-teal">Learn more <i class="bi-chevron-right"></i></a>
					</div>
				</div>
			</div>
			
			<div class="col-12 col-lg-6 mb-4">
				<div class="service-signpost d-flex align-items-end ratio ratio-4x3" data-aos="fade-right">
					<img src="./assets/img/bg-development.png" class="position-absolute top-0 left-0 img-cover" data-aos="fade-right" data-aos-offset="200" />
					<div class="position-relative p-3 p-lg-4">
						<h2 class="display-3">Development</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
						<a href="#" class="btn-underlined underline-teal">Learn more <i class="bi-chevron-right"></i></a>
					</div>
				</div>
			</div>
			
			<div class="col-12 col-lg-6 mb-4">
				<div class="service-signpost d-flex align-items-end ratio ratio-4x3" data-aos="fade-left">
					<img src="./assets/img/bg-prop_management.png" class="position-absolute top-0 left-0 img-cover" data-aos="fade-left" data-aos-offset="200" />
					<div class="position-relative p-3 p-lg-4">
						<h2 class="display-3">Property Management</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
						<a href="#" class="btn-underlined underline-teal">Learn more <i class="bi-chevron-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
