<section class="section-news_featured pt-4 pt-md-5 ${props.class}" id="${props.id}">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card card-news" data-aos="fade-up">
                    <img src="./assets/img/news-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-0">
                        <ul class="list-inline cat-list cat-list-orange mb-2">
                            <li class="list-inline-item text-uppercase"><a href="#">News</a></li>
                            <li class="list-inline-item text-uppercase"><a href="#">Residential</a></li>
                            <li class="list-inline-item text-uppercase"><a href="#">Investment</a></li>
                        </ul>
                        <h1 class="card-title display-7">Round Hill Capital&rsquo;s European multi-family fund accelerates with over &euro;140m additional capital and three further acquisitions</h1>
                        <p class="card-text text-uppercase x-small mt-2">15th December 2021</p>
                        <a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>