<section class="section-signpost py-4 py-md-5 bg-white ${props.class}">
    
    <div class="container py-5">
    
        <div class="row">
            <div class="col-12 col-md-6" data-aos="fade-right">
                <img class="w-100" src="./assets/img/signpost-2.jpg" alt="...">
            </div>
            <div class="col-12 col-md-6 pt-5 pt-md-3 pt-lg-5" data-aos="fade-left">
                <h4 class="display-6">Business services</h4>
                <h2 class="display-2">Local expertise with central oversight.</h2>
                <div class="mb-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel ex eu justo scelerisque vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Aenean et diam eu lacus auctor porta.</p>
                </div>
                <a href="#" class="btn-underlined underline-orange">View our Business Services <i class="bi-chevron-right"></i></a>
            </div>
        </div>
        
    </div>
    
</section>