<section class="section-fw_video">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 g-0">
				<div class="ratio ratio-16x9" data-aos="zoom-in" data-aos-duration="800">
					<img src="./assets/img/video_poster.jpg" class="h-100 img-cover" />
					<a href="#" class="btn-play d-flex align-items-center justify-content-center video-btn"><span data-aos="fade-up">Play video</span></a>
				</div>
			</div>
		</div>
	</div>
</section>