<section class="section-case_studies_grid py-4 py-md-5 bg-cover ${props.class}" id="${props.id}">
    
    <div class="overflow-hidden">
    
        <div class="container py-5">

            <div class="row sector-cards">
                <div class="col-12 col-lg-6 mb-4">
					<a class="card ratio ratio-1x1" href="#" title="link title" data-aos="fade-right">
					    <div class="img-stack">
					    	<img src="./assets/img/case_study-1-1.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-dublin_prs.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-1-3.jpg" class="card-img h-100 img-cover" alt="...">
					    </div>
					    
					    <div class="card-img-overlay d-flex flex-column justify-content-end">
						    <p class="small text-uppercase text-medium mb-2 text-white">PBSA</p>
					        <h1 class="card-title display-3 white-text">£123.5m PRS Scheme in Dublin, Ireland</h1>
					    </div>
					</a>
                </div>
				<div class="col-12 col-lg-6 mb-4">
					<a class="card ratio ratio-1x1" href="#" title="link title" data-aos="fade-left">
					    <div class="img-stack">
					    	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-2-2.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
					    </div>
					    <div class="card-img-overlay d-flex flex-column justify-content-end">
						    <p class="small text-uppercase text-medium mb-2 text-white">Residential</p>
					        <h1 class="card-title display-3 white-text">6,000 homes in Utrecht, Nederlands</h1>
					    </div>
					</a>
				</div>
				<div class="col-12 col-lg-6 mb-4">
					<a class="card ratio ratio-1x1" href="#" title="link title" data-aos="fade-right">
					    <div class="img-stack">
					    	<img src="./assets/img/case_study-3-1.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-jv_cpp.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-jv_cpp_3.jpg" class="card-img h-100 img-cover" alt="...">
					    </div>
					    <div class="card-img-overlay d-flex flex-column justify-content-end">
						    <p class="small text-uppercase text-medium mb-2 text-white">PBSA</p>
					        <h1 class="card-title display-3 white-text">European student accommodation JV with CPP investments</h1>
					    </div>
					</a>
				</div>
				<div class="col-12 col-lg-6 mb-4">
					<a class="card ratio ratio-1x1" href="#" title="link title" data-aos="fade-left">
					    <div class="img-stack">
					    	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-valencia.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
					    </div>
					    <div class="card-img-overlay d-flex flex-column justify-content-end">
						    <p class="small text-uppercase text-medium mb-2 text-white">PBSA</p>
					        <h1 class="card-title display-3 white-text">Student Accomodation in Valencia, Spain</h1>
					    </div>
					</a>
				</div>
				
				<div class="col-12 col-lg-6 mb-4">
					<a class="card ratio ratio-1x1" href="#" title="link title" data-aos="fade-right">
					    <div class="img-stack">
					    	<img src="./assets/img/case_study-4.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-student_ned.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-6.jpg" class="card-img h-100 img-cover" alt="...">
					    </div>
					    <div class="card-img-overlay d-flex flex-column justify-content-end">
						    <p class="small text-uppercase text-medium mb-2 text-white">PBSA</p>
					        <h1 class="card-title display-3 white-text">703 Student beds in The Netherlands</h1>
					    </div>
					</a>
				</div>
				
				<div class="col-12 col-lg-6 mb-4">
					<a class="card ratio ratio-1x1" href="#" title="link title" data-aos="fade-left">
					    <div class="img-stack">
					    	<img src="./assets/img/case_study-3-1.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-3-2.jpg" class="card-img h-100 img-cover" alt="...">
					    	<img src="./assets/img/case_study-3-3.jpg" class="card-img h-100 img-cover" alt="...">
					    </div>
					    <div class="card-img-overlay d-flex flex-column justify-content-end">
						    <p class="small text-uppercase text-medium mb-2 text-white">Residential</p>
					        <h1 class="card-title display-3 white-text">Palo Alto Collection in Marbella, Spain</h1>
					    </div>
					</a>
				</div>
				
            </div>
            
            <div class="row py-5">
			    <div class="col-12 d-flex justify-content-center">
				    <ul class="pagination-list">
<!-- 					<li><a href="#" class="prev"><i class="bi-chevron-left"></i></a></li> --> <!-- can we hide if on page 1 -->
					    <li class="current">1</li>
					    <li><a href="#">2</a></li>
					    <li class="d-none d-md-flex"><a href="#">3</a></li>
					    <li class="d-none d-lg-flex"><a href="#">4</a></li> <!-- will need to hide certain numbers as the window gets smaller -->
					    <li><a href="#">&hellip;</a></li>
					    <li><a href="#">10</a></li>
					    <li><a href="#" class="next"><i class="bi-chevron-right"></i></a></li>
				    </ul>
			    </div>
		    </div>
        </div>
    </div>
    
</section>