<section class="section-esg_pillars py-5 bg-white">

	<div class="container">
		<div class="row gy-3 pb-5">
			<div class="col-12 col-md-6">
				<div class="text-right-line mb-2">
					<h5 class="display-8">STRATEGIC PILLARS</h5>
				</div>
				<p><strong>Investment, Integration & Innovation</strong></p>
			</div>
			<div class="col-12 col-md-6">
				<div class="text-right-line mb-2">
					<h5 class="display-8">COMPANY VALUES</h5>
				</div>
				<p><strong>Succeed Fairly, One Team & Think Bigger</strong></p>
			</div>
		</div>
	</div><!--  .container -->

	<div class="container">

		<div class="row align-items-center">
			<div class="col-12 col-md-6">
				<div class="ratio ratio-1x1"><img src="./assets/img/news-3.jpg" class="img-cover h-100" alt="..."></div>
			</div>
			<div class="col-12 pt-3 pt-md-0 col-md-6">
				<h4 class="display-6">SOCIAL</h5>
				<h3 class="display-3">Consumer & Stakeholder Engagement</h3>
				<p>Focus consumer research & engagement on the built environment and communities around our assets.</p>
				<div class="text-right-line mb-2">
					<h5 class="display-8">OVERALL METRICS</h5>
				</div>
				<p class="mb-0">We aim to continually improve customer satisfaction and drive NOI.</p>
			</div>
		</div>
		
		<div class="row align-items-center pt-5 pb-5 flex-md-row-reverse">
			<div class="col-12 col-md-6">
				<div class="ratio ratio-1x1"><img src="./assets/img/signpost-est.jpg" class="img-cover h-100" alt="..."></div>
			</div>
			<div class="col-12 pt-3 pt-md-0 col-md-6">
				<h4 class="display-6">GOVERNANCE</h5>
				<h3 class="display-3">End to End Management of ESG</h3>
				<p>Use unique integrated structure and proprietary Global Control Process to ensure leading ESG governance and reporting.</p>
				<div class="text-right-line mb-2">
					<h5 class="display-8">OVERALL METRICS</h5>
				</div>
				<p class="mb-0">We aim to continually improve our scores on the widely recognised standard of PRI and GRESB.</p>
			</div>
		</div>
		
		<div class="row align-items-center">
			<div class="col-12 col-md-6">
				<div class="ratio ratio-1x1"><img src="./assets/img/news-2.jpg" class="img-cover h-100" alt="..."></div>
			</div>
			<div class="col-12 pt-3 pt-md-0 col-md-6">
				<h4 class="display-6">ENVIRONMENT</h5>
				<h3 class="display-3">Climate Change Roadmap</h3>
				<p>Establish a programme of initiatives that continually tests approaches and technologies to reduce our carbon footprint and those of our residents.</p>
				<div class="text-right-line mb-2">
					<h5 class="display-8">OVERALL METRICS</h5>
				</div>
				<p class="mb-0">We aim to continually reduce our footprint and environmental risks profile leveraging recognised green certification schemes.</p>
			</div>
		</div>

	</div><!--  .container -->

</section>
