<section class="section-ranking_swiper py-4 py-md-5 bg-cover border-top">
    
    <div class="overflow-hidden">
    
        <div class="container py-5">
            <div class="row" data-aos="fade-right">
                <div class="col-12 col-md-9">
                    <h2 class="display-2">Our investments</h2>
                    <p>Round Hill Capital’s track record as the leading independent property manager across Europe is unmatched.</p>
                    <p>We account for 4 out of 10 of the Top European Real Estate Funds* realized since 2010 placing at 1, 3, 6 and 7.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12" data-aos="fade-up">
                    
                    <h2 class="h5"><strong>Top European Real Estate Funds</strong></h2>
                    
                    <div class="swiper-container mt-4" data-aos="fade-up" data-aos-offset="150">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">

                                <div class="card card-rank card-highlight-teal bg-black">
                                    
                                    <div class="card-body card-body-upper d-flex flex-column justify-content-between position-relative px-3 px-lg-4">
                                        <div class="rank position-relative">
                                            <div class="text-uppercase position-absolute top-0"><strong>Rank</strong></div>
                                            <span class="ranking">1</span>
                                            <span class="total"><strong>/10</strong></span>
                                        </div>
                                        <h2 class="card-title h5 mb-0"><strong>RHC Residential Fund III</strong></h2>
                                    </div>
                                    
                                    <div class="card-body card-body-lower">
                                        
                                        <div class="row">
                                            <div class="col-6 text-uppercase">EQUITY (M)</div>
                                            <div class="col-6 text-end">$32</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">VINTAGE</div>
                                            <div class="col-6 text-end">2011</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">NET MOIC</div>
                                            <div class="col-6 text-end">1.9x</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">NET IRR</div>
                                            <div class="col-6 text-end">41.8%</div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="card card-rank card-highlight-teal bg-black">
                                    
                                    <div class="card-body card-body-upper d-flex flex-column justify-content-between position-relative px-3 px-lg-4">
                                        <div class="rank position-relative">
                                            <div class="text-uppercase position-absolute top-0"><strong>Rank</strong></div>
                                            <span class="ranking">3</span>
                                            <span class="total"><strong>/10</strong></span>
                                        </div>
                                        <h2 class="card-title h5 mb-0"><strong>RHC Czech Residential Investment &ndash; Ripple</strong></h2>
                                    </div>
                                    
                                    <div class="card-body card-body-lower">
                                        
                                        <div class="row">
                                            <div class="col-6 text-uppercase">EQUITY (M)</div>
                                            <div class="col-6 text-end">$382</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">VINTAGE</div>
                                            <div class="col-6 text-end">2015</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">NET MOIC</div>
                                            <div class="col-6 text-end">2.2x</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">NET IRR</div>
                                            <div class="col-6 text-end">35.8%</div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="card card-rank card-highlight-teal bg-black">
                                    
                                    <div class="card-body card-body-upper d-flex flex-column justify-content-between position-relative px-3 px-lg-4">
                                        <div class="rank position-relative">
                                            <div class="text-uppercase position-absolute top-0"><strong>Rank</strong></div>
                                            <span class="ranking">6</span>
                                            <span class="total"><strong>/10</strong></span>
                                        </div>
                                        <h2 class="card-title h5 mb-0"><strong>RHC Residential JV II</strong></h2>
                                    </div>
                                    
                                    <div class="card-body card-body-lower">
                                        
                                        <div class="row">
                                            <div class="col-6 text-uppercase">EQUITY (M)</div>
                                            <div class="col-6 text-end">$201</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">VINTAGE</div>
                                            <div class="col-6 text-end">2011</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">NET MOIC</div>
                                            <div class="col-6 text-end">1.8x</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">NET IRR</div>
                                            <div class="col-6 text-end">33.7%</div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="card card-rank card-highlight-teal bg-black">
                                    
                                    <div class="card-body card-body-upper d-flex flex-column justify-content-between position-relative px-3 px-lg-4">
                                        <div class="rank position-relative">
                                            <div class="text-uppercase position-absolute top-0"><strong>Rank</strong></div>
                                            <span class="ranking">7</span>
                                            <span class="total"><strong>/10</strong></span>
                                        </div>
                                        <h2 class="card-title h5 mb-0"><strong>RHC Student Housing Fund I</strong></h2>
                                    </div>
                                    
                                    <div class="card-body card-body-lower">
                                        
                                        <div class="row">
                                            <div class="col-6 text-uppercase">EQUITY (M)</div>
                                            <div class="col-6 text-end">$162</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">VINTAGE</div>
                                            <div class="col-6 text-end">2012</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">NET MOIC</div>
                                            <div class="col-6 text-end">1.9x</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-uppercase">NET IRR</div>
                                            <div class="col-6 text-end">32.9%</div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                            </div>

                        </div>

                        <div class="swiper-pagination pagination-teal"></div>

                        <div class="swiper-controls">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>

                    </div>

                </div>
                        
                        
                        
            </div>
            
            <div class="row mt-3">
	            <p class="small mt-5">*Ranking taken from <a href="#">example.com</a> on 23rd January 2022</p>
            </div>
            
        </div>
        
    </div>
    
</section>