<section class="section-full_width_signpost py-5 pt-0 py-md-5 position-relative overflow-hidden bg-grey" id="${props.id}">
    
    <div class="container-fluid py-4 pt-0 px-lg-5">
    
        <div class="row">
            <div class="col-12 col-md-5 pt-4 pt-md-0" data-aos="fade-right">
                <h4 class="display-6">ESG</h4>
                <h2 class="display-2">Responsible real estate investment.</h2>
                <div class="mb-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel ex eu justo scelerisque vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Aenean et diam eu lacus auctor porta.</p>
                </div>
                <a href="#" class="btn-underlined underline-green">Learn more about our approach <i class="bi-chevron-right"></i></a>
            </div>
            <div class="col-12 col-md-7 order-first order-md-last pb-4 pb-md-0">
                <div class="bg-img" data-aos="fade-left" style="background-image:url('./assets/img/signpost-est.jpg')"></div>
            </div>
        </div>
        
    </div>
    
</section>