<section class="section-fw_3_block_row py-4 py-md-5 bg-white">
	<div class="container-fluid py-5">
		<div class="row px-lg-4">
			<div class="col-12 col-md-4">
				<div class="ratio ratio-1x1" data-aos="fade-up">
					<img src="./assets/img/case_study-1-1.jpg" class="img-cover h-100" />
				</div>
				<div class="mb-5 mb-md-0 mt-3" data-aos="fade-up">
					<h2 class="display-3">Ideation</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="ratio ratio-1x1" data-aos="fade-up" data-aos-offset="100">
					<img src="./assets/img/case_study-creation.jpg" class="img-cover h-100" />
				</div>
				<div class="mb-5 mb-md-0 mt-3" data-aos="fade-up" data-aos-offset="100">
					<h2 class="display-3">Creation</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="ratio ratio-1x1" data-aos="fade-up" data-aos-offset="200">
					<img src="./assets/img/case_study-jv_cpp_3.jpg" class="img-cover h-100" />
				</div>
				<div class="mb-5 mb-md-0 mt-3" data-aos="fade-up" data-aos-offset="200">
					<h2 class="display-3">Operation</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
				</div>
			</div>
			
		</div>
	</div>
</section>