<section class="section-team_contacts_swiper overflow-hidden py-4 py-md-5 bg-teal" id="key_contacts">
    
    <div class="container py-5">
        
        <div class="row">
            <div class="col-12 col-md-5 col-xl-4 mb-4 mb-md-0 position-relative">
                <div class="slider-hider"></div>
                <div class="main-content" data-aos="fade-right">
                    <h4 class="display-6">Who to contact</h4>
                    <h2 class="display-3 mb-4">Our Business Services Professionals.</h2>
                    <p>Quisque justo nunc, efficitur at tellus id, semper fringilla ex. Fusce posuere sed enim et venenatis. Fusce et tellus rhoncus, consequat metus sit amet, sodales arcu nam elit libero.</p>
                </div>
            </div>
            <div class="col-12 col-md-7 col-xl-8">
                
                <div class="swiper-container pb-4" data-aos="fade-up" data-aos-offset="150">
        
                    <div class="swiper-wrapper">
                        
                        <div class="swiper-slide">
                            <div class="card card-team">
                                <img src="./assets/img/team-lindstrom.jpg" alt="..." class="mb-3">
                                <div class="card-body p-0">
                                    <h5><strong>Kirk Lindstrom</strong></h5>
                                    <p>Chief Investment Officer</p>
                                    <a href="#" class="btn-underlined">Contact Kirk <i class="bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide">
                            <div class="card card-team">
                                <img src="./assets/img/team-brian_welsh.jpeg" alt="..." class="mb-3">
                                <div class="card-body p-0">
                                    <h5><strong>Brian Welsh</strong></h5>
                                    <p>Head of Student</p>
                                    <a href="#" class="btn-underlined">Contact Brian <i class="bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide">
                            <div class="card card-team">
                                <img src="./assets/img/team-marcus_eilers.jpg" alt="..." class="mb-3">
                                <div class="card-body p-0">
                                    <h5><strong>Marcus Eilers</strong></h5>
                                    <p>Head of Residential Asset Management</p>
                                    <a href="#" class="btn-underlined">Contact Marcus <i class="bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide">
                            <div class="card card-team">
                                <img src="./assets/img/team-laura_koskinen.jpg" alt="..." class="mb-3">
                                <div class="card-body p-0">
                                    <h5><strong>Laura Koskinen</strong></h5>
                                    <p>Head of People</p>
                                    <a href="#" class="btn-underlined">Contact Laura <i class="bi-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <div class="swiper-pagination pagination-white"></div>
                    
                    <div class="swiper-controls">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>

                </div>
                
            </div>
        </div>
        
    </div>
    
</section>