<section class="section-signpost_swiper py-4 py-md-5 ${props.class}" id="${props.id}">
	<div class="container">
		<div class="row" data-aos="fade-right" data-aos-duration="500">
			<div class="col-12">
				<h2 class="display-2">What are we doing?</h2>
			</div>
		</div>
		<div class="row" data-aos="fade-right" data-aos-duration="500">
			<div class="col-12 link-wrapper">
				<ul class="pagination-links">
					<li><a href="#" class="active" data-slide="1">Initiative 1</a></li>
					<li><a href="#" data-slide="2">Initiative 2</a></li>
					<li><a href="#" data-slide="3">Initiative 3</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row" data-aos="fade-up" data-aos-duration="500">
			<div class="col-12">
				<div class="container">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="row">
									<div class="col-12 col-md-6">
										<div class="slide-img ratio ratio-1x1 bg-cover" style="background-image:url(assets/img/case_study-creation.jpg);"></div>
									</div>
									<div class="col-12 col-md-6">
										<h3 class="display-3">Promoting diverse leadership</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
	
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
										<a href="#" class="btn-underlined underline-orange">Learn more <i class="bi-chevron-right"></i></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="row">
									<div class="col-12 col-md-6">
										<div class="slide-img ratio ratio-1x1 bg-cover" style="background-image:url(assets/img/case_study-creation.jpg);"></div>
									</div>
									<div class="col-12 col-md-6">
										<h3 class="display-3">Promoting diverse leadership</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
	
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
										<a href="#" class="btn-underlined underline-orange">Learn more <i class="bi-chevron-right"></i></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="row">
									<div class="col-12 col-md-6">
										<div class="slide-img ratio ratio-1x1 bg-cover" style="background-image:url(assets/img/case_study-creation.jpg);"></div>
									</div>
									<div class="col-12 col-md-6">
										<h3 class="display-3">Promoting diverse leadership</h3>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
						volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
	
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
										<a href="#" class="btn-underlined underline-orange">Learn more <i class="bi-chevron-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</section>