<section class="section-signposts_grid py-4 py-md-5 bg-cover bg-white bg-attachment-fixed" style="background-image:url('./assets/img/bg_building-sketch.png')">
    
    <div class="container">
        
        <div class="row py-5">
            <div class="col-12 col-md-10 col-lg-7 mx-auto text-center" data-aos="fade-up">
                <h2 class="display-2">Creating places for people &amp; communities to thrive.</h2>
                <div class="mb-4" data-aos="fade-up" data-aos-offset="150">
                    <p>Our vision is to create long term financial and social value by building thriving communities around real estate.</p>
                </div>
                <a href="#" class="btn-underlined" data-aos="fade-up" data-aos-offset="250">Why we're different <i class="bi-chevron-right"></i></a>
            </div>
        </div>
        
        <div class="row pb-5">
            
            <div class="col-12 col-md-4 pb-4">
                
                <div class="ratio ratio-1x1 ratio-none-md-up">
                    <div class="card card-numbered card-highlight-green cn-1 h-100" data-aos="fade-up">
                        <img src="./assets/img/signpost-3.jpg" class="card-img img-cover h-100" alt="...">
                        <div class="card-img-overlay p-4 d-flex flex-column justify-content-end">
                            <div class="card-body p-0 ps-3">
                                <h1 class="card-title display-3">Ideation</h1>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="col-12 col-md-4 pb-4">
                
                <div class="ratio ratio-1x1 ratio-none-md-up">
                    <div class="card card-numbered card-highlight-teal cn-2 h-100" data-aos="fade-up" data-aos-offset="150">
                        <img src="./assets/img/signpost-4.jpg" class="card-img img-cover h-100" alt="...">
                        <div class="card-img-overlay p-4 d-flex flex-column justify-content-end">
                            <div class="card-body p-0 ps-3">
                                <h1 class="card-title display-3">Creation</h1>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="col-12 col-md-4 pb-4">
                
                <div class="ratio ratio-1x1 ratio-none-md-up">
                    <div class="card card-numbered card-highlight-orange cn-3 h-100" data-aos="fade-up" data-aos-offset="300">
                        <img src="./assets/img/signpost-5.jpg" class="card-img img-cover h-100" alt="...">
                        <div class="card-img-overlay p-4 d-flex flex-column justify-content-end">
                            <div class="card-body p-0 ps-3">
                                <h1 class="card-title display-3">Operation</h1>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>

</section>