<section class="section-key_figures_intro py-4 py-md-5 bg-white" id="${props.id}">
    
    <div class="container py-5">
        
        <div class="row g-md-5">
            <div class="col-12 col-lg-8">
                <h2 class="display-2" data-aos="fade-up">Creating places for students to thrive.</h2>
                <div class="mb-4" data-aos="fade-up">
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis 
	                autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis 
	                at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

					<p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                </div>
            </div>
        </div>
		
		<div class="row mt-lg-4 mt-3">
			<div class="col-12 col-md-4 mb-3 mb-lg-0">
				<div class="key-figure border-left border-green h-100" data-aos="fade-up">
					<div class="figure"><span class="counter">5.3</span><small>BN</small></div>
                    <p>$5.3BN capital deployed</p>
				</div>
			</div>
			<div class="col-12 col-md-4 mb-3 mb-lg-0">
				<div class="key-figure border-left border-orange h-100" data-aos="fade-up" data-aos-offset="150">
					<div class="figure"><span class="counter">32</span><small>K</small></div>
                    <p>Over 32,000 student beds worldwide</p>
				</div>
			</div>
			<div class="col-12 col-md-4 mb-3 mb-lg-0">
				<div class="key-figure border-left border-teal h-100" data-aos="fade-up" data-aos-offset="300">
					<div class="figure"><span class="counter">24</span><small>+</small></div>
                    <p>Located in over 24 countries worldwide</p>
				</div>
			</div>
		</div>
        
    </div>
    
</section>
