<section class="_section-you_might_like_news py-4 py-md-5 ${props.class}" id="${props.id}">
    
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-10">
                <h2 class="display-2" data-aos="fade-right">You might also like.</h2>
            </div>
            <div class="col-12 col-md-2 d-flex align-items-end" data-aos="fade-left">
                <a href="#" class="btn-underlined ms-0 ms-md-auto d-inline-block underline-orange mb-4">View all <i class="bi-chevron-right"></i></a>
            </div>
        </div>
        
        <div class="row pt-4 gy-3">

            <div class="col-12 col-md-4">
                <div class="card card-news" data-aos="fade-up">
                    <img src="./assets/img/news-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-0">
                        <ul class="list-inline cat-list cat-list-orange mb-2">
                            <li class="list-inline-item text-uppercase"><a href="#">News</a></li>
                            <li class="list-inline-item text-uppercase"><a href="#">Residential</a></li>
                            <li class="list-inline-item text-uppercase"><a href="#">Investment</a></li>
                        </ul>
                        <h1 class="card-title display-7">Round Hill Capital purchase 250-bed asset for students in Valencia</h1>
                        <p class="card-text text-uppercase x-small mt-2">15th December 2021</p>
                        <a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card card-news" data-aos="fade-up" data-aos-offset="200">
                    <img src="./assets/img/news-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-0">
                        <ul class="list-inline cat-list cat-list-orange mb-2">
                            <li class="list-inline-item text-uppercase"><a href="#">News</a></li>
                            <li class="list-inline-item text-uppercase"><a href="#">Logistics &amp; Industrial</a></li>
                        </ul>
                        <h1 class="card-title display-7">KKR, Round Hill Capital and Longridge announce the sale of their Italian logistics portfolio from their Elizabeth Real Estate Fund, to eqt Exeter for 
	                    €117.5m</h1>
                        <p class="card-text text-uppercase x-small mt-2">12th November 2021</p>
                        <a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card card-news" data-aos="fade-up" data-aos-offset="400">
                    <img src="./assets/img/news-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body px-0">
                        <ul class="list-inline cat-list cat-list-orange mb-2">
                            <li class="list-inline-item text-uppercase"><a href="#">News</a></li>
                            <li class="list-inline-item text-uppercase"><a href="#">PBSA</a></li>
                        </ul>
                        <h1 class="card-title display-7">Round Hill Capital establishes record €1bn+ European student accommodation joint venture with CPP Investments</h1>
                        <p class="card-text text-uppercase x-small mt-2">1st November 2021</p>
                        <a href="#" class="btn-underlined underline-teal">Read more <i class="bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    
</section>