<section class="section-key_figures py-4 py-md-5">
    
    <div class="container">
        
        <div class="row py-5">
            <div class="col-12 col-md-8 col-lg-7 mx-auto text-center">
                <h4 class="display-6" data-aos="fade-up">Leading global real estate investment manager</h4>
                <h2 class="display-2" data-aos="fade-up">Exceptional performance.</h2>
                <div class="mb-4" data-aos="fade-up">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel ex eu justo scelerisque vehicula. Interdum et malesuada fames ac ante.</p>
                </div>
                <a href="#" class="btn-underlined" data-aos="fade-up">Learn more about us <i class="bi-chevron-right"></i></a>
            </div>
        </div>

        <div class="row g-3 g-sm-4 pb-5">
            <div class="col-12 col-md-4">
                <div class="key-figure ratio ratio-1x1 ratio-2x1-md-down bg-cover bg-green" data-aos="fade-up" style="background-image:url('./assets/img/bg_cubes.png')">
                    <div class="d-flex flex-column justify-content-end p-2 p-sm-4">
                        <div class="figure"><span class="counter">10.3</span><small>BN</small></div>
                        <p>$10.3BN capital deployed</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-0">
                <div class="key-figure ratio ratio-1x1 bg-cover bg-teal" data-aos="fade-up" data-aos-offset="150" style="background-image:url('./assets/img/bg_map.png')">
                    <div class="d-flex flex-column justify-content-end p-2 p-sm-4">
                        <div class="figure"><span class="counter">16</span></div>
                        <p>16 offices in major cities in the USA, Europe & Asia</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-0">
                <div class="key-figure ratio ratio-1x1 bg-cover bg-orange" data-aos="fade-up" data-aos-offset="300" style="background-image:url('./assets/img/bg_globe.png')">
                    <div class="d-flex flex-column justify-content-end p-2 p-sm-4">
                        <div class="figure"><span class="counter">20</span><small>%</small></div>
                        <p>24% internal rate of return<br> (1.9 X MOIC)</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</section>
