<section class="section-sector_additional_services py-4 py-md-5 bg-white">
	<div class="container py-5">
		<div class="row">
			<div class="col-12">
				<h2 class="display-3 mb-4">Additional Services</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-6 col-xl-4 mb-4">
				<div class="d-flex align-items-end ratio ratio-1x1 ratio-2x3-xl-up" data-aos="fade-up">
					<a class="card" href="#" title="link title">
						<img src="./assets/img/case_study-1-3.jpg" class="card-img card-img img-cover h-100" alt="...">
						<div class="card-img-overlay d-flex flex-column justify-content-end white-text">
							<h1 class="card-title display-3">Property Technology</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="col-12 col-md-6 col-xl-4 mb-4">
				<div class="d-flex align-items-end ratio ratio-1x1 ratio-2x3-xl-up" data-aos="fade-up">
					<a class="card" href="#" title="link title">
						<img src="./assets/img/news-3.jpg" class="card-img card-img img-cover h-100" alt="...">
						<div class="card-img-overlay d-flex flex-column justify-content-end white-text">
							<h1 class="card-title display-3">Credit</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="col-12 col-md-6 col-xl-4 mb-4">
				<div class="d-flex align-items-end ratio ratio-1x1 ratio-2x3-xl-up" data-aos="fade-up">
					<a class="card" href="#" title="link title">
						<img src="./assets/img/signpost-est.jpg" class="card-img card-img img-cover h-100" alt="...">
						<div class="card-img-overlay d-flex flex-column justify-content-end white-text">
							<h1 class="card-title display-3">Meanwhile Accomodation</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
						</div>
					</a>
				</div>
			</div>
			
		</div>
	</div>
</section>
