<section class="section-timeline bg-black">
    
    <div class="container py-5">
        <div class="timeline">
            <div class="timeline__line"><div class="timeline__line__tail"></div></div>
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2002 - 2006" text="<p>Round Hill is founded by Michael Bickford in 2002.</p> <p>The company makes its first acquisitions into a variety of assets, including Swiss Industrial, UK Senior Living and German Office.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2007 - 2010" text="<p>Round Hill assumes corporate management of Vitus Group, a leading German residential operator, with over 30,000 units spread across 7 operating companies.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2011" text="<p>Round Hill expands its presence in Germany, creating a country-wide team of integrated investment, asset and property managers that manage over 50,000 units.</p> <p>Round Hill moves into the European office sector with the acquisition of prime assets in Austria, Belgium, Germany and the Netherlands.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2012" text="<p>Round Hill is one of the first movers into the UK student accommodation space, purchasing 3 premium London assets in Spitalfields, King Cross and Notting Hill with over 2,500 beds.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2014" text="<p>Round Hill becomes the first foreign investment firm to commence building a significant portfolio of Dutch residential real estate assets post the financial crisis, with over 9,600 units.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2015" text="<p>The company establishes a presence in the Spanish residential market through Project Palo Alto, a prime residential development on the Costa Del Sol.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2015" text="<p>Through the purchase of RPG Byty, Round Hill becomes one of the largest private landlords in the Czech Republic.</p> <p>Round Hill expands its presence in the student housing market, closing on another premium asset in West Hampstead, London.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2016" text="<p>Round Hill launches its first Venture Opportunities Platform and closed on 4 investments in the property technology sector.</p> <p>Round Hill continues to acquire additional residential portfolios in Netherlands, becoming one of the largest private landlords in the country.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2016" text="<p>Round Hill expands its geographical footprint by entering the Nordic market and made its first acquisition into the logistics and industrial sector with a portfolio consisting of 18 assets across Norway, Sweden and Denmark.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2017" text="<p>As part of Round Hill&rsquo;s new German Residential Strategy focusing on the acquisition of residential portfolios in the greater metropolitan areas, the firm completed the acquisition of a 770 unit portfolio in Berlin, along with a 114 unit portfolio in Hamburg.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2017" text="<p>A strategic Joint Venture with Starwood Capital is formed to invest in the UK student housing market, with an initial portfolio acquisition of 1,595 beds.</p> <p>Round Hill purchases the largest mixed-use portfolio development in Portugal comprising of student housing , residential, hotel, retail and F&amp;B.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2017" text="<p>Round Hill expands into the US market, opening offices in both Boston and New York.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2018" text="<p>Round Hill Capital expands its European operations by opening offices in Finland, Ireland and Portugal.</p> <p>In line with its new Finnish Residential strategy, RHC acquires a residential portfolio comprising 3,263 units.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2018" text="<p>RHC expands Dutch PBSA development pipeline with sites in Groningen and Utrecht by 2,658 units.</p> <p>As part of its continuing investment in student accommodation through multiple strategies, Round Hill Capital acquires a UK student accommodation portfolio comprising 1,815 units.</p> <p>First acquisition into Italian industrial and logistics sector.</p>"}
            ${require('./elements/_timeline_entry.html') class="" img="https://via.placeholder.com/411x411" year="2019" text="<p>Round Hill Capital&rsquo;s expanding logistics platform acquires four logistics warehouse developments in Spain as part of the expansion of its Southern European Logistics platform</p> <p>Round Hill Capital completes the sale of 9,544 residential units in the Netherlands to Heimstaden AB for &euro;1.4bn &ndash; the largest residential real estate transaction recorded in the Netherlands.</p>"}
        </div>
    </div>
    
</section>