<section class="section-contact_enquiries_grid py-5 bg-lgrey" id="more_ways">
	<div class="container py-4">
		<div class="row" data-aos="fade-up">
			<h2 class="display-2"><strong>More ways to contact us.</strong></h2>
		</div>
		<div class="row">
			<div class="col-12 col-lg-4 z-index-1" data-aos="fade-right">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				
				<div class="mob-filtering position-relative">
					<div class="d-lg-none text-uppercase mb-5" data-aos="fade-up">
						<p>Filter by type</p>
						<button type="button" href="#"><span>All institutional investor enquiries</span></button>
					</div>
					
					<ul class="filter-list text-uppercase mb-5" data-aos="fade-right" data-aos-offset="100">
						<li><a href="#">PRESS ENQUIRIES</a></li>
						<li><a href="#" class="active">ALL INSTITUTIONAL INVESTOR ENQUIRIES</a></li>
						<li><a href="#">ALL TRANSACTION COUNTERPARTY ENQUIRIES</a></li>
						<li><a href="#">ALL SERVICE PROVIDER ENQUIRIES</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-8">
				<div class="row enquiries-grid" data-aos="fade-up">
					
					<div class="col-12 col-md-6 mb-4">
						<div class="card card-contact_enquiry card-highlight-teal bg-black h-100">
							<div class="card-body card-body-upper d-flex flex-column justify-content-between position-relative px-3 px-lg-4">
                                <h2 class="card-title h6 mb-0"><strong>Europe &amp; US</strong></h2>
                            </div>
                            
                            <div class="card-body card-body-lower px-3 px-lg-4 d-flex flex-column h-100">
                                <p>Alex Mullins</p>
                                <p class="x-small text-uppercase"><strong>EMAIL</strong></p>
                                <p class="small"><a href="mailto:amullins@roundhillcapital.com">amullins@roundhillcapital.com</a></p>
                                <p class="x-small text-uppercase"><strong>PHONE</strong></p>
                                <p class="small"><a href="tel:+442073496833">+44 207 349 6833</a></p>
                            </div>
                            
                        </div>
					</div>
					
					<div class="col-12 col-md-6 mb-4">
						<div class="card card-contact_enquiry card-highlight-teal bg-black h-100">
							<div class="card-body card-body-upper d-flex flex-column justify-content-between position-relative px-3 px-lg-4">
                                <h2 class="card-title h6 mb-0"><strong>Asia</strong></h2>
                            </div>
                            
                            <div class="card-body card-body-lower px-3 px-lg-4 d-flex flex-column h-100">
                                <p>Eva Tay</p>
                                <p class="x-small text-uppercase"><strong>EMAIL</strong></p>
                                <p class="small"><a href="mailto:etay@roundhillcapital.com">etay@roundhillcapital.com</a></p>
                                <p class="x-small text-uppercase"><strong>PHONE</strong></p>
                                <p class="small"><a href="tel:+6566534355">+65 6653 4355</a></p>
                            </div>
                            
                        </div>
					</div>
					
					<div class="col-12 col-md-6 mb-4">
						<div class="card card-contact_enquiry card-highlight-teal bg-black h-100">
							<div class="card-body card-body-upper d-flex flex-column justify-content-between position-relative px-3 px-lg-4">
                                <h2 class="card-title h6 mb-0"><strong>Middle East</strong></h2>
                            </div>
                            
                            <div class="card-body card-body-lower px-3 px-lg-4 d-flex flex-column h-100">
                                <p>Rami Sayegh</p>
                                <p class="x-small text-uppercase"><strong>EMAIL</strong></p>
                                <p class="small"><a href="mailto:rami.sayegh@roundhillcapital.com">rami.sayegh@roundhillcapital.com</a></p>
                                <p class="x-small text-uppercase"><strong>PHONE</strong></p>
                                <p class="small"><a href="tel:+9613842840">+96 1384 2840</a></p>
                            </div>
                            
                        </div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>