/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden,
.screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: ' '; /* 1 */
	display: table; /* 2 */
}

.clearfix::after {
	clear: both;
}

/*
 * Peakfifteen helper classes
 */

.clear {
}

.text-centered {
	text-align: center;
}

.outlined {
	border: 1px solid map-get($colors, 'grey');
}

.outlined-thick {
	border: 2px solid map-get($colors, 'grey');
}

.no-underline {
	text-decoration: none;
}

.no-underline:hover {
	text-decoration: none;
}

.ls-0{
    letter-spacing:0 !important;
}

.bg-contain {
	@include contain-bg;
}

.bg-align-top {
	background-position-y: top;
}

.bg-align-bottom {
	background-position-y: bottom;
}

.bg-align-left {
	background-position-x: left;
}

.bg-align-right {
	background-position-x: right;
}

.bg-cover {
	@include cover-bg;
}

.img-cover{
    object-fit:cover;
}

.img-contain{
    object-fit:contain;
}

.bg-attachment-fixed {
	background-attachment: fixed;
}

.z-index-1 {
	z-index: 1;
}

.sticky {
	position: sticky;
	top: 130px;
}