@mixin x-border-radius ($values) {
	border-radius: $values; // iOS Safari 3.2, Android 2.1
	border-radius: $values;
}

@mixin border-radius-bottom ($values) {
	border-bottom-left-radius: $values;
	border-bottom-right-radius: $values;
	border-bottom-right-radius: $values;
	border-bottom-right-radius: $values;
}

@mixin overlay-tint {
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.4);
}


/* Menu link hover underline */
@mixin underline-hover {
	&:hover {
		text-decoration: none;
	}

	&::after {
		background: #cf0970;
		content: '';
		height: 1px;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 100%;
		transform: translateY(0);
		transform: translateY(0);
		transform: translateY(0);
		transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
		transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
		transition: height 0.3s, opacity 0.3s, transform 0.3s;
		width: 100%;

	}

	&:hover::after {
		height: 3px;
		opacity: 1;
		transform: translateY(5px);
		transform: translateY(5px);
		transform: translateY(5px);
	}
}

// MIXINS FOR HEADER IMAGES AND BACKGROUNDS
@mixin cover-bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin contain-bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

@mixin contain-mask {
	mask-position: center;
	-webkit-mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	-webkit-mask-size: contain;
}

//CENTRE ALIGN ITEMS VERTICALLY
@mixin vertically-align {
	align-items: center;
	align-items: center;
	display: flexbox;
	display: flex;
	display: flex;
}

@mixin half-sec-animation {
	transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

@mixin fast-animation {
	transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

// Backgrounds

@mixin bg-rainbow{
    background: rgb(251,194,84);
    background: linear-gradient(106deg, rgba(251,194,84,1) 0%, rgba(236,119,53,1) 17%, rgba(170,79,93,1) 30%, rgba(135,68,113,1) 42%, rgba(95,92,154,1) 56%, rgba(30,132,151,1) 67%, rgba(90,185,157,1) 82%, rgba(1,171,147,1) 100%);
}

@mixin bg-rainbow-l-to-r{
    background: rgb(251,194,84);
    background: linear-gradient(90deg, rgba(251,194,84,1) 0%, rgba(236,119,53,1) 17%, rgba(170,79,93,1) 30%, rgba(135,68,113,1) 42%, rgba(95,92,154,1) 56%, rgba(30,132,151,1) 67%, rgba(90,185,157,1) 82%, rgba(1,171,147,1) 100%);
}

@mixin bg-rainbow-r-to-l{
    background: rgb(251,194,84);
    background: linear-gradient(-90deg, rgba(251,194,84,1) 0%, rgba(236,119,53,1) 17%, rgba(170,79,93,1) 30%, rgba(135,68,113,1) 42%, rgba(95,92,154,1) 56%, rgba(30,132,151,1) 67%, rgba(90,185,157,1) 82%, rgba(1,171,147,1) 100%);
}
