// Convert Illustrator, InDesign and Photoshop tracking into letter spacing.

@function tracking( $target ){
    @return ($target / 1000) * 1em;
}

@mixin tracking( $target ){
    letter-spacing: tracking( $target );
}