/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: $body-font-color;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::selection {
	background: $selection-color;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: $selection-color;
	color: #fff;
	text-shadow: none;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
 * A better looking default horizontal rule
 */

hr {
	border: 0;
	border-top: 1px solid $hr-color;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	max-width: 100%;
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/*
 * p15 custom base styles start
 */

body{
    
}

.main-wrapper{
    
}

section {
	overflow-x: hidden;
    overflow-y: auto;
}

section.py-md-5{
    @include media-breakpoint-up(md){
        padding-top:4.8rem !important;
        padding-bottom:4.8rem !important;
    }
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	background: #ccc;
	color: #000;
	margin: 0.2em 0;
	padding: 0.2em 0;
}
