/* Background colours (generates bg-***** for each colour) */
/* ======================================================= */

@mixin darkbg-class($color) {
	.bg-#{$color} {
		background-color: map-get($colors, $color);
		color: $light-text;
        
		&.btn {
			&:hover {
				color: $light-text;
			}
		}
        
        .btn-underlined{
            border-bottom-color: #fff;
            &:after {
	            background-color:#FFF;
            }
        }
      
	}
}
@mixin lightbg-class($color) {
	.bg-#{$color} {
		background-color: map-get($colors, $color);
		color: $dark-text;
        
		&.btn {
			&:hover {
				//color:#FFF;
			}
		}
        
	}
}
@each $color in $colours-dark {
	@include darkbg-class($color);
}
@each $color in $colours-light {
	@include lightbg-class($color);
}

/* text colours (generates *****-text for each colour) */
/* ======================================================= */

@mixin darktext-class($color) {
	.#{$color}-text {
		color: map-get($colors, $color);
	}
}
@mixin lighttext-class($color) {
	.#{$color}-text {
		color: map-get($colors, $color);
	}
}


@each $color in $colours-dark {
	@include darktext-class($color);
}
@each $color in $colours-light {
	@include lighttext-class($color);
}

/* Underline colours (generates *****-underline for each colour) */
/* ======================================================= */

@mixin darkunderline-class($color) {
	.#{$color}-underline {
		&::after {
			background-color: map-get($colors, $color);
		}
	}
}
@mixin lightunderline-class($color) {
	.#{$color}-underline {
		&::after {
			background-color: map-get($colors, $color);
		}
	}
}
@each $color in $colours-dark {
	@include darkunderline-class($color);
}
@each $color in $colours-light {
	@include lightunderline-class($color);
}