/**
 * Typography is specified in here.
 */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html {
    font-size:$font-size-html-base;
}

body {
	color: $body-font-color;
	font-family: $font-main;
    @include font-size(18px);
    @include line-height(22px);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $font-main;
}

.display-1{
    
    @include font-size(90px);
    @include line-height(80px);
    font-weight: 700;
    @include tracking(-25);
    
    margin-bottom:2rem;
    
    @include media-breakpoint-down(xl){
        
    }
    @include media-breakpoint-down(lg){
        @include font-size(72px);
        @include line-height(64px);
    }
    @include media-breakpoint-down(md){
        
    } 
    @include media-breakpoint-down(sm){
        @include font-size(50px);
        @include line-height(46px);
    }
    
}
.display-2{
    
    @include font-size(72px);
    @include line-height(74px);
    font-weight: 700;
    @include tracking(-25);
    
    margin-bottom:1.75rem;
    
    @include media-breakpoint-down(xl){
        
    }
    @include media-breakpoint-down(lg){
        @include font-size(56px);
        @include line-height(58px);
    }
    @include media-breakpoint-down(md){
        
    } 
    @include media-breakpoint-down(sm){
        @include font-size(52px);
        @include line-height(55px);
    }
    
}

.display-3{
    
    @include font-size(42px);
    @include line-height(46px);
    font-weight: 700;
    @include tracking(-25);
    
    @include media-breakpoint-down(xl){
        
    }
    @include media-breakpoint-down(lg){
        @include font-size(30px);
        @include line-height(34px);
    }
    @include media-breakpoint-down(md){
        
    } 
    @include media-breakpoint-down(sm){
        
    }
    
}

.display-4{
    
    @include font-size(32px);
    @include line-height(32px);
    font-weight: 700;
    @include tracking(-25);
    
    @include media-breakpoint-down(xl){
        
    }
    @include media-breakpoint-down(lg){
        
    }
    @include media-breakpoint-down(md){
        
    } 
    @include media-breakpoint-down(sm){
        
    }
    
}

.display-5{
    
    //unassigned
    
}

.display-6{
    
    @include font-size(18px);
    @include line-height(22px);
    font-weight: 500;
    @include tracking(50);
    
    text-transform:uppercase;
    margin-bottom:1rem;
    
    @include media-breakpoint-down(xl){
        
    }
    @include media-breakpoint-down(lg){
        
    }
    @include media-breakpoint-down(md){
        
    } 
    @include media-breakpoint-down(sm){
        
    }
    
}

.display-7{
    
    @include font-size(18px);
    @include line-height(21px);
    font-weight:700;
    
}

.display-8{
    @include font-size(18px);
    @include line-height(22px);
    @include tracking(50);
    font-weight:700;
}

a{
    color:map-get($colors,'green');
    &:hover{
        color:map-get($colors,'orange');
    }
}

b,
strong,
.font-weight-bold {
	font-weight: 700;
    font-family: $font-bold;
}

.text-medium {
	font-weight: 600;
}

.uppercase {
	text-transform: uppercase;
}

.no-decoration {
	text-decoration: none;
}

.small {
	@include font-size(16px);
	line-height: calculate-rem(19px);
}

.x-small {
	@include font-size(14px);
	line-height: calculate-rem(17px);
}

.line-through {
	text-decoration: line-through;
}

.light,
.thin,
.font-weight-light{
    font-weight: normal;
	font-family: $font-key;
}

a[href^='mailto:'] {
	@include media-breakpoint-down(sm){
		line-break: anywhere;
	}
}