<div class="timeline__entry ${props.class}">
    <div class="timeline__entry__text">
        <h3 class="timeline__entry__text__year display-2">${props.year}<span class="timeline__entry__text__year__square"></span></h3>
        ${props.text}
    </div>
    <div class="timeline__entry__img">
        <img src="${props.img}" class="w-100 h-auto" alt="" />
    </div>
</div>