.btn {

    color:inherit;
    border:2px solid #fff;
    border-radius:0;
}

.btn-underlined{
    
    color:inherit;
    display:inline-block;
    text-decoration:none;
    font-weight:700;
    border-bottom:2px solid #000;
    padding-bottom:5px;
    position: relative;
    white-space: nowrap;
    &:after {
	    content:'';
	    position: absolute;
	    bottom:-6px;
	    height:2px;
	    width:0;
	    @include half-sec-animation;
	    background-color:#000;
	    left:0;
    }
    
    &:hover{
        color:inherit;
        &:after {
	        width:100%;
        }
    }
    
    + .btn-underlined{
	    @include media-breakpoint-up(lg) {
	    	margin-left:25px;
	    }
	    @include media-breakpoint-down(lg) {
	    	margin-top:20px;
	    }
        
    }
    
    @each $colorname, $color in $colors {
        &.underline-#{$colorname}{
            border-bottom-color:$color;
            &:after {
	            background-color:$color;
            }
        }
    }
    
    .bi-chevron-right{
        &:before{
            font-weight:bolder !important;
            font-size:0.65rem;
            position:relative;
            right:-2px;
        }
    }
    
    .bi-chevron-down{
        &:before{
            font-weight:bolder !important;
            font-size:0.65rem;
            position:relative;
            right:-2px;
        }
    }
    
    
}

.btn, .btn-underlined {
	.bi-external {
	    &:before {
		    content:'';
		    background-image:url(../img/icon-external.svg);
		    height:10px;
		    width: 10px;
		    @include contain-bg;
		    vertical-align: calculate-rem(-1px);
	    }
    }
}

.btn-play {
	text-decoration: none;
	&:before {
		@include overlay-tint;
		opacity:0;
		@include half-sec-animation;
	}
	span {
		@include font-size(18px);
		color:#FFF;
		position: relative;
		font-weight: 600;
		display: inline-block;
		text-align: center;
		&:before {
			width:112px;
			height:112px;
			@include contain-bg;
			background-image:url(../img/btn-play.svg);
			content:'';
			display: block;
			margin-bottom:10px;
			transform-origin: bottom;
			@include half-sec-animation;
		}
	}
	&:hover {
		&:before {
			opacity:0.6;
		}
		span:before {
			transform: scale(1.05);
		}
	}
}