.card-numbered{
    
    color:#fff;
    border:none;
    overflow: hidden;
        
    .card-body{
        flex:none;
        position:relative;
        &:before{
            content:"";
            width:3px;
            height:calc(100% - 12px);
            background:#fff;
            position:absolute;
            left:-1px;
            top:7px;
        }
    }
    
    @each $colorname, $color in $colors {
        &.card-highlight-#{$colorname}{
            .card-body{
                &:before {
                    background-color:$color;
                }
            }
        }
    }
    
    .card-title{
        margin-bottom:1rem;
    }
    
    .card-text{
        @include font-size(18px);
        @include line-height(24px);
        font-weight: 300;
        @include tracking(50);
        @include media-breakpoint-between(md,lg){
            @include font-size(16px);
            @include line-height(21px);
        }
    }
    
    &:before{
        content:"";
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.8085609243697479) 0%, rgba(0,0,0,0) 100%);
        height:33%;
        width:100%;
        position:absolute;
        bottom:0;
        left:0;
    }
    
    &:after{
        content:"1";
        position:absolute;
        bottom:1.5rem;
        right:-100%;
        @include font-size(540px);
        @include line-height(380px);
        opacity:0.2;
        font-weight:500;
        @include half-sec-animation;
        
        
        
        // IMPORTANT : for calculating line height for media queries below, take ur font-size and divide by 1.42
        
        @include media-breakpoint-down(xxl) {
            @include font-size(500px);
            @include line-height(352px);
        }
        @include media-breakpoint-down(xl) {
            @include font-size(400px);
            @include line-height(281px);
        }
        @include media-breakpoint-between(md,lg) {
            @include font-size(300px);
            @include line-height(246px);
        }
    }
    
    &.aos-animate:after {
		right:0;
		transition-delay:0.5s;
    }
    
    &.cn-1{
        &:after{
            content:"1";
        }
    }
    
    &.cn-2{
        &:after{
            content:"2";
        }
    }
    
    &.cn-3{
        &:after{
            content:"3";
        }
    }
    
}