.card.card-contact_enquiry {
	.card-body-upper {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(255, 255, 255, 0.1);
			width: 100%;
			height: 100%;
		}
	}
	.card-body-lower { 
		p.tiny {
			margin-bottom:0;
		}
		a {
			color:#FFF;
		}
	}
}