.card{
    
    border-radius:0;
    
    .card-img, .card-img-top {
        border-radius:0;   
    }
    
	.card-img-overlay{
		&:before {
			@include fast-animation;
			position: absolute;
			content:'';
			bottom:0;
			left:0;
			height:50%;
			width:100%;
			background: rgb(0,0,0);
			background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
		}
		
		& > * {
			position: relative;
		}
	}
    
}

a.card {
    color:inherit;
    .btn-reveal {
        @include fast-animation;
        height:0;
        overflow: hidden;
        transition-delay: 0.3s;
        span {
            opacity: 0;
            @include fast-animation;
            transition-delay: 0s;
        }
    }
    span.btn-underlined {
        @include tracking(0);
    }

    &:hover {
        .card-img-overlay {
            &:before {
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
                height:100%;
            }
        }
        .btn-reveal {
            height:30px;
            span {
                opacity: 1;
                transition-delay: 0.3s;
            }
        }
    }
}

.sector-cards {
	
    .card{
        border:none;
        .card-img-overlay {
	        @include fast-animation;
	        &:after {
		        width:100%;
		        height:0px;
		        background:map-get($colors, 'orange');
		        content:'';
		        position: absolute;
		        bottom:0;
		        left:0;
		        @include fast-animation;
	        }
        }
        &:hover {
	        .card-img-overlay{
		        padding-bottom:28px;
		        &:before {
			        height:100%;
					background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
		        }
		        &:after {
			        height: 10px;
		        }
	        }
        }
    }
    
}