.card.card-team{
    
    border:0;
    background-color:transparent;
    
    img {
	    border-bottom:2px solid map-get($colors, 'orange');
	    
    }
    
    .bg-lgrey {
	    img {
		    mix-blend-mode:multiply;
	    }
    }
    
}