.card.card-rank{
    
    border:0;
    
    .card-body-upper{
        height:235px;
        border-bottom:2px solid #fff;
        @include media-breakpoint-down(md) {
        	height:180px;
        }
        &:before{
            content:"";
            position:absolute;
            top:0;
            left:0;
            background:rgba(255,255,255,0.1);
            width:100%;
            height:100%;
        }
    }
    
    .rank {
		margin-top:calculate-rem(30px);
		@include media-breakpoint-down(md) {
			margin-top:calculate-rem(16px);
		}
		& > div {
			transform: rotate(-90deg);
			left:-15px;
			@include font-size(16px);
			@include media-breakpoint-down(md) {
				@include font-size(12px);
			}
			
		}
		.total {
			opacity:0.6;
			@include font-size(35px);
			display: inline-block;
			transform: translateY(-5px);
			@include media-breakpoint-down(md) {
				@include font-size(26px);
			}
		}
		.ranking {
			@include font-size(58px);
			opacity:1;
			font-weight: bold;
			padding-left:calculate-rem(20px);
			@include media-breakpoint-down(md) {
				@include font-size(42px);
				padding-left:calculate-rem(10px);
			}
		}
	}
	
	.card-body-lower {
		padding-bottom:calculate-rem(40px);
		.row {
			padding:0 calculate-rem(24px);
			@include media-breakpoint-down(md) {
				padding:0 calculate-rem(15px);
			}
			& > div {
				padding:calculate-rem(15px) 0;
				border-bottom:rgba(#fff, 0.2) 1px solid;	
			}
			
			&:last-child {
				& > div {
					border-bottom:0;
					@include font-size(24px);
					font-weight: bold;
					@include media-breakpoint-down(md) {
						@include font-size(21px);
					}
				}
			}
			
		}
	}
    
    @each $colorname, $color in $colors {
        &.card-highlight-#{$colorname}{
            .card-body-upper{
                border-color:$color;
            }
        }
    }
    
}

