.cat-list{

    .list-inline-item:not(:last-child){
        margin-right:0.2rem;
        &:after{
            content:"|";
            margin-left:0.5rem;
            font-size:0.7rem;
            position: relative;
            top:-1px;
        }
    }
    
    a{
        color:inherit;
        @include font-size(14px);
        text-decoration:none;
        @include tracking(50);
    }
    
    @each $colorname, $color in $colors {
        &.cat-list-#{$colorname}{
            a{
                color:$color;
            }
        }
    }
    
}