.dropdown-toggle{
    
    &:after{
        content:"\F282";
        border:none;
        font-family:bootstrap-icons;
        @include font-size(10px);
        position:relative;
        top:2px;
        vertical-align: bottom;
        @include fast-animation;
    }
    
    &[aria-expanded="true"]{
	    &:after {
		    transform: rotate(180deg);
	    }
    }
    
}