.section-filter_row {
	.mob-filtering{
		button {
		    width: 100%;
		    position: relative;
		    display: block;
		    text-decoration: none;
		    font-weight: bold;
		    color: #000;
		    padding-bottom: 15px;
		    -webkit-appearance: none;
		    -ms-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    border: 0;
		    text-transform: none;
		    background-image: none;
		    &:after {
			    position: absolute;
			    bottom:0;
			    height:6px;
			    border-top:2px solid #000;
			    border-bottom:2px solid #000;
			    content:'';
			    left:0;
			    width:100%;
		    }
		    span {
			    position: absolute;
			    top:15px;
			    right:0;
			    width:16px;
			    height:16px;
			    display: block;
			    &:before, &:after {
				    width:100%;
				    content: '';
				    height:1.5px;
				    top:50%;
				    margin-top:-0.75px;
				    left:0;
				    background-color:#000;
				    @include fast-animation;
				    position: absolute;
			    }
			    &:after {
				    transform: rotate(90deg);
			    }
		    }
		}
		
		&.open {
			button span:after {
				transform: rotate(0deg);
			}
		}
	
    }
    
    .filter-row {
	    @include media-breakpoint-up(lg) {
	    	display: flex !important;
	    }
	    @include media-breakpoint-down(lg) {
	    	display: none;
	    	.item-wrapper:first-child {
		    	margin-top:calculate-rem(20px);
	    	}
	    }
    }
}