.filter-list {
	list-style: none;
	padding:0;
	margin:0;
	@include media-breakpoint-up(lg) {
		display: block !important;
	}
	@include media-breakpoint-down(lg) {
		position: absolute;
		top:70px;
		left:0;
		background:#FFF;
		z-index:1;
		padding:calculate-rem(10px) calculate-rem(15px);
		display: none;
		width: 100%;
	}
	li {
		a {
			text-decoration: none;
			color:map-get($colors, 'black');
			padding:calculate-rem(15px) 0;
			position: relative;
			display: block;
			font-weight: bold;
			border-bottom:1px solid #000;
			&:after {
				position: absolute;
				bottom:-1px;
				left:0;
				width: 0%;
				height: 1px;
				background-color:map-get($colors, 'orange');
				content:'';
				@include half-sec-animation;
				@include media-breakpoint-down(lg) {
					display: none;
				}
				
			}
			&.active, &:hover {
				@include media-breakpoint-down(lg) {
					color:map-get($colors, 'orange');
				}
				&:after {
					width:100%;
				}
			}
		}
		
		&:last-child {
			@include media-breakpoint-down(lg) {
				a {
					border-bottom:0;
				}
			}	
		}
	}
}

.mob-filtering {
	p {
		@include font-size(14px);
		margin-bottom:0;
	}
	
	button {
		padding:calculate-rem(10px) 0 calculate-rem(15px);
		border:0;
		border-bottom:1px solid #000;
		display: block;
		color:#000;
		width:100%;
		-webkit-appearance:none;
		-ms-appearance:none;
		-moz-appearance:none;
		appearance:none;
		text-decoration: none;
		font-weight:bold;
		background-image: url(../img/icon-arrow-down.svg);
		@include contain-bg;
		background-position-x: right;
		background-size:12px 15px;
		text-align: left;
		background-color:transparent;
		text-transform: uppercase;
	}
	
	
}