input[type="phone"], 
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
input[type="tel"], 
textarea, select {
    background-color:transparent;
    outline:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    -moz-appearance:none;
    appearance:none;
    box-shadow: none;
}

.item-wrapper {
	margin-bottom:15px;
	label {
		display: inline-block;
		width: 100%;
		@include font-size(16px);
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom:5px;
		span {
			@include font-size(14px);
		}
	}
	input[type="phone"], 
	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="number"], 
	input[type="tel"],
	select, textarea {
		width:100%;
		height:50px;
		border:0;
		background-color:rgba(#FFF,0.2);
	}
	
	select {
		background-image:url(../img/icon-arrow-down-white.svg);
		@include contain-bg;
		background-size:12px 15px;
		background-position-x: calc(100% - 15px);
		&.underlined {
			border-bottom:2px solid #000;
			background-image:url(../img/icon-arrow-down.svg);
			background-position-x:100%;
			@include font-size(21px);
			font-weight: bold;
			@include media-breakpoint-down(lg) {
				@include font-size(18px);
			}
		}
	}
	
	textarea {
		height:120px;
		resize: none;
	}
}