.key-figure{
    .figure{
        display:block;
        @include font-size(126px);
        font-weight:800;
        line-height:1;
        @include media-breakpoint-down(xxl) {
            @include font-size(110px);
        }
        @include media-breakpoint-down(xl) {
            @include font-size(90px);
        }
        @include media-breakpoint-down(lg) {
            @include font-size(60px);
        }
        @include media-breakpoint-down(md) {
            @include font-size(90px);
        }
        @include media-breakpoint-down(sm) {
            @include font-size(60px);
        }
        
        small{
            font-size:0.5em;
        }
    }
    p{
        margin-bottom:0;
        @include media-breakpoint-down(sm) {
            @include font-size(16px);
            @include line-height(19px);
        }
    }
    
    &.border-left {
	    border-left:3px solid #000;
	    padding-left:calculate-rem(20px);
    }
    &.border-green {
	    border-color:map-get($colors, 'green');
    }
    &.border-teal {
	    border-color:map-get($colors, 'teal');
    }
    &.border-orange {
	    border-color:map-get($colors, 'orange');
    }
    
}

@mixin figure-color($color,$txtcolor) {
	.bg-#{$color} {
        &.key-figure{
            span{
                color: map-get($colors, $txtcolor);
            }
        }
	}

}

//@include figure-color('mattblack','green');