.nav-tabpanel{
    
    @include media-breakpoint-down(md){
        flex-wrap:nowrap;
        width:100%;
        overflow-x:scroll;
    }
    
    .nav-item + .nav-item{
        margin-left:25px;
    }
    
    .nav-link{
        
        padding-left:0;
        padding-right:0;
        
        &:not(.active){
            border-bottom-color:transparent;
        }
        
        @include media-breakpoint-down(md){
            white-space: nowrap;
        }
        
    }
    
}