ul.pagination-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin:0;
	padding:0;
	li {
		width:40px;
		height:40px;
		margin-right:calculate-rem(20px);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border:2px solid map-get($colors, 'black');
		@include media-breakpoint-down(md) {
			margin-right:calculate-rem(15px);
		}

		
		&:first-child:not(.current) {
			margin-right:calculate-rem(35px);
			@include media-breakpoint-down(md) {
				margin-right:calculate-rem(20px);
			}
		}
		&:last-child {
			margin-right:0;
			margin-left:calculate-rem(15px);
			@include media-breakpoint-down(md) {
				margin-left:calculate-rem(5px);
			}
		}
		&.current {
			background-color:map-get($colors, 'black');
			color:#FFF;
			font-weight: bold;
			@include font-size(17px);
			
		}

		a {
			@include font-size(17px);
			display: flex;
			width:100%;
			height:100%;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			text-decoration: none;
			color:#000;
			@include fast-animation;
			&:hover {
				background-color:map-get($colors, 'black');
				color:#FFF;
			}
		}
	}
}