.quote-mark{
    
    height: 60px;
    
    &:before{
        content: "“";
        font-size: 235px;
        font-family: "Space Grotesk", sans-serif;
        line-height: 0.75;
        width: 75px;
        height: 60px;
        position: absolute;
        top: 0;
        left: 1PX;
    }
    
}