.ratio-2x1-md-down{
    
    @include media-breakpoint-down(md) {
        --bs-aspect-ratio: 50%; // 2x1
    }
    
}

.ratio-none-md-up{
    
    @include media-breakpoint-up(md) {
        --bs-aspect-ratio: 0;
        
        >*{
            position:static;
        }
        
    }
    
}

.ratio-2x3-xl-up{
    @include media-breakpoint-up(xl) {
        --bs-aspect-ratio: 150%; //2x3
    }
}