.search-input{
    
    @include font-size(24px);
    @include line-height(30px);
    
    background-image:url('../img/icon-search.svg');
    background-position:center right 15px;
    background-size:23px;
    background-repeat:no-repeat;
    
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    border-bottom-width: 2px;
    
    color:inherit;
    
    padding-bottom:calculate-rem(15px);
    padding-top:calculate-rem(15px);
    
    &:focus{
        background-color:transparent;
        color:inherit;
    }
}

.search-input-mobile{
    background-image:url('../img/icon-search.svg');
    background-position:center right 10px;
    background-size:23px;
    background-repeat:no-repeat;
    
    border:3px solid #fff;
    border-radius:0;
    
    color:#fff;
    
    &:focus{
        background-color:transparent;
        color:#fff;
    }
}

.mega-menu {
	.search-input {
		padding-left:0;
	}
}