section{
    
    &.border-top{
        
        border:0 !important;
        //margin-top:36px;
        position:relative;
        
        &:before{
            content:"";
            background-image:url('../img/multi-line-border.png');
            background-size:1px 28px;
            width:100%;
            height:36px;
            position:absolute;
            top:0px;
            left:0;
            border-bottom:4px solid #FFF;
            border-top:4px solid #FFF;
            background-color:#FFF;
        }
        
    }
    
}