ul {
	li.square-icon {
		width: 40px;
		height: 40px;
		
		a {
			text-decoration: none;
			i {
				color:#FFF;
				display: flex;
				align-items: center;
				height:100%;
				justify-content: center;
				background-color:#000;
				@include half-sec-animation;
				position: relative;
				&:after {
					content:'';
					bottom:-5px;
					height:2px;
					width: 0;
					left:0;
					position: absolute;
					@include half-sec-animation;
				}
				&.bi-facebook:after {
		            background-color:#4267B2;
	            }
	            &.bi-twitter:after {
		            background-color:#1da1f2;
	            }
	            &.bi-linkedin:after {
		            background-color:#0072b1;
	            }
	            &.bi-youtube:after {
		            background-color:#FF0000;
	            }
			}
			&:hover {
				i {
					color:#000;
					&:after {
						width: 100%;
					}
					&.bi-facebook {
			            background-color:mix( #FFF, #4267B2, 40%);
		            }
		            &.bi-twitter {
			            background-color:mix(#FFF, #1da1f2, 40%);
		            }
		            &.bi-linkedin {
			            background-color:mix(#FFF,#0072b1, 40%);
		            }
		            &.bi-youtube {
			            background-color:mix(#FFF, #FF0000, 40%);
		            }
				}
			}
		}
	}
}