.swiper-container{
    
    position:relative;
    
    .swiper-controls{
        display:flex;
        justify-content: right;
        position: absolute;
        bottom: -50px;
        right: 0;
    }
    
    .swiper-button-next, 
    .swiper-button-prev{
        
        height:35px;
        width:35px;
        border:2px solid #000;
        right: 0;
        left: 0;
        position: relative;
        top: 0;
        margin: 0;
        &:after{
            color:#000;
            font-size:14px;
            font-weight:bold;
        }
        @include media-breakpoint-down(md) {
            display:none;   
        }
    }
    
    .swiper-button-prev{
        margin-right:12px;   
    }
    
    .swiper-pagination{
        text-align:left;
        position:absolute;
        bottom:-40px;
        .swiper-pagination-bullet{
            background-color:#000;
            height:3px;
            width:15px;
            border-radius:2px;
            opacity:1;
            @include fast-animation;
        }
        .swiper-pagination-bullet-active{
            width:30px;
        }
        @each $colorname, $color in $colors {
            &.pagination-#{$colorname}{
                .swiper-pagination-bullet,
                .swiper-pagination-bullet-active{
                    background-color:$color;
                }
            }
        }
    }
    
}