.tag{
    
    background-color:rgba(255,255,255,0.1);
    color:inherit;
    text-decoration:none;
    text-transform:uppercase;
    padding:0.3rem 0.5rem;
    
    &:hover{
        background-color:rgba(255,255,255,0.4);
        color:inherit;
    }
    
}