.text-right-line{
	display: flex;
	align-items: center;
	> * {
		margin-bottom: 0;
	}
	&:after{
		content: '';
		height: 2px;
		margin-left: 5px;
		background-color: map-get($colors, 'lgrey');
		display: block;
		flex-grow: 1;
	}
}