.timeline{
    position: relative;
    padding-left: 3rem; //3rem
    &__line{
        //the line running down the entire height of the timeline
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 30px;
        &:before,
        &:after,
        &__tail,
        &__tail:after{
            position: absolute;
            display: block;
            content: '';
        }
        &:before,
        &:after{
            top: 0;
        }
        &:before{
            //top horizontal line
            left: 0;
            width: 100%;
            height: 2px;
        }
        &:after{
            //main vertical line
            left: 50%;
            transform: translate(-50%,0);
            width: 2px;
            height: 100%;
        }
        &__tail{
            //'dots' at end of time line
            bottom: -9px;
            left: 50%;
            transform: translate(-50%,0);
            width: 2px;
            &,&:after{
                border-top-style: solid;
                border-bottom-style: solid;
                border-top-width: 2px;
                border-bottom-width: 2px;
                height: 6px;
            }
            &:after{
                bottom: -10px;
                width: 100%;
            }
        }
    }
    &__entry__text__year{
        margin-bottom: 3rem;
        //timeline entry indicator line
        position: relative;
        &:after{
            //the horizontal line
            position: absolute;
            content:'';
            bottom: calc( 3rem * -0.5 );
            right: 0;
            width: calc(100% + 1.5rem + 12px);
            height: 2px;
        }
        &__square{
            //timeline entry indicator line square marker
            position: absolute;
            z-index: 1;
            bottom: calc( 3rem * -0.5 );
            left: calc(-1.5rem - 12px);
            border: 2px solid transparent;
            width: 22px;
            height: 22px;
            transform: translate(-50%,50%);
            display: flex;
            justify-content: center;
            align-items: center;
            &:after{
                content:'';
                display: block;
                width:25%;
                height:25%;
            }
        }
    }
    
    
    //the image
    &__entry{
        &__img{
            max-width: 220px;
            margin-right: auto;
            padding-bottom: 10px;
            position: relative;
            &:after{
                position: absolute;
                bottom: 0;
                content: '';
                display: block;
                width: 100%;
                height: 2px;
            }
        }
    }
    //the image --END
    
    //vertical padding
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 18px; //extra margin for dots at the end
    &__entry{
        &__text{
            > *:last-child{
                margin-bottom: 1.5rem;
            }
        }
        //add some padding for the rows
        padding-top: 2rem;
        padding-bottom: 2rem;
        &:last-child{
            padding-bottom: calc(2rem - 18px); //compensate for the dots
        }
    }
    //vertical padding - END
}

//text size adjustments
.timeline__entry__text__year{
    @include font-size(32px);
    line-height: 1.0357142857142858;
    @include media-breakpoint-up(md){
        @include font-size(52px);
    }
    @include media-breakpoint-up(lg){
        @include font-size(72px);
    }
}



@include media-breakpoint-up(md){
    //move to two column layout
    .timeline{
        padding-left: 0;
        &__line{
            //move the line running down the entire height of the timeline to the middle
            left: 50%;
            transform: translate(-50%,0);
            //slightly wider now (top cap)
            width: 40px;
        }
        &__entry{
            //make entry content items a row rather a column
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            &__text{
                flex-basis: 45%;
                > *:last-child{
                    //remove bottom margin now
                    margin-bottom: 0;
                }
            }
            &__img{
                flex-basis: 33.3%;
                margin-left: 10%;
                //remove max width
                max-width: none;
                //change the highlight line position
                padding-bottom: 0;
                padding-left: 20px;
                &:after{
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 2px;
                }
            }
            &:nth-of-type(odd){
                //reverse odd entries
                flex-direction: row-reverse;
                .timeline__entry__img{
                    margin-left: auto;
                    margin-right: 10%;
                }
            }
            &__text__year{
                &:after{
                    //wider indicator line
                    width: calc( 52.5 / 45 * 100% );
                }
                &__square{
                    //bigger indicator line square
                    width: 36px;
                    height: 36px;
                }
            }
        }
        &__entry:nth-of-type(even){
            .timeline__entry__text__year{
                //indicator line adjustments
                &:after{
                    left:0;
                    right: auto;
                }
                &__square{
                    left: auto;
                    right: calc( 5 / 45 * -100% );
                    transform: translate(50%,50%);
                }
            }
        }
        &__entry:nth-of-type(odd){
            .timeline__entry__text__year{
                //indicator line adjustments
                &__square{
                    left: calc( 5 / 45 * -100% );
                }
            }
            .timeline__entry__img{
                //img highlight line position is reversed for odd rows
                padding-left: 0px;
                padding-right: 20px;
                &:after{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

//responsive alignment ajustments
.timeline{
    &__entry{
        &__text{
            @include media-breakpoint-up(md){
                padding-top: 3.5%;
            }
            @include media-breakpoint-up(lg){
                padding-top: 4.5%;
            }
            @include media-breakpoint-up(xl){
                padding-top: 6.5%;
            }
            @include media-breakpoint-up(xxl){
                padding-top: 8%;
            }
        }
    }
}


//colors --------------------------------------------------

//horizontal grey line
.bg-black{
    .timeline__entry__text__year:after{
        background-color: map-get($colors, 'dgrey');
    }
}
.bg-white{
    .timeline__entry__text__year:after{
        background-color: map-get($colors, 'grey');
    }
}

//main line colour
.bg-black{
    .timeline__line:before,
    .timeline__line:after{
        background-color: map-get($colors, 'white');
    }
    .timeline__line__tail,
    .timeline__line__tail:after,
    .timeline__entry__text__year__square{
        border-color: map-get($colors, 'white');
    }
}
.bg-white{
    .timeline__line:before,
    .timeline__line:after{
        background-color: map-get($colors, 'black');
    }
    .timeline__line__tail,
    .timeline__line__tail:after,
    .timeline__entry__text__year__square{
        border-color: map-get($colors, 'black');
    }
}

//square bg colour (should match section bg)
.bg-black{
    .timeline__entry__text__year__square{
        background-color: map-get($colors, 'black');
    }
}
.bg-white{
    .timeline__entry__text__year__square{
        background-color: map-get($colors, 'white');
    }
}


//the accent color
.timeline__entry:nth-of-type(5n+2){
    .timeline__entry__text__year__square:after,
    .timeline__entry__img:after{
        background-color: map-get($colors, 'green');
    }
}
.timeline__entry:nth-of-type(5n+3){
    .timeline__entry__text__year__square:after,
    .timeline__entry__img:after{
        background-color: map-get($colors, 'orange');
    }
}
.timeline__entry:nth-of-type(5n+4){
    .timeline__entry__text__year__square:after,
    .timeline__entry__img:after{
        background-color: map-get($colors, 'teal');
    }
}
.timeline__entry:nth-of-type(5n+5){
    .timeline__entry__text__year__square:after,
    .timeline__entry__img:after{
        background-color: map-get($colors, 'grey');
    }
}
.timeline__entry:nth-of-type(5n+6){
    .timeline__entry__text__year__square:after,
    .timeline__entry__img:after{
        background-color: map-get($colors, 'purple');
    }
}

//colors -END ---------------------------------------------