/**
 * Variables to be used throughout the project
 */

// Fonts
$font-main: 'Space Grotesk', sans-serif;
$font-key: 'Space Grotesk', sans-serif;
$font-bold: 'Space Grotesk', sans-serif;
$font-key-bold: 'Space Grotesk', sans-serif;

$font-size-html-base: 18px;

// <hr> color
$hr-color: #ccc;

// Text selection background color
$selection-color: #00a7e1;

$colors: (
	'white': #ffffff,
	'black': #000000,
    'teal': #79B9B9,
    'orange': #FF4D06,
    'green': #004100,
    'lgrey': #F3F3F3,
    'grey': #C4C4C4,
    'dgrey': #323232,
    'purple': #4F4789
);

// Main Colours
$primary: map-get($colors, 'white');
$secondary: map-get($colors, 'black');
$tertiary: map-get($colors, 'white');
$light-text: map-get($colors, 'white');
$dark-text: map-get($colors, 'black');

// Text Color
$body-font-color: map-get($colors, 'black');

// Dark mode Text Color
$body-font-color-dark: map-get($colors, 'white');

//Dark colours (that need light text)
$colours-dark: ('black','orange','green','purple');

//Light colours (that need dark text)
$colours-light: ('white','lgrey','grey','teal');